﻿@model ProAlert.Andon.Service.Models.LastStage

@{
    ViewBag.Title = "Delete Last Stage";
}

<h2>Delete Last Stage</h2>

<h3>@ViewBag.Msg</h3>
<fieldset>
    <legend>LastStage</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        @if (!ViewBag.Msg.Equals("Cannot delete."))
        {
            var pipe = "|";
            <input type="submit" value="Delete" /> @pipe
        }        @Html.ActionLink("Back to List", "Index")
    </p>
}
