﻿@using Microsoft.Ajax.Utilities
@model IEnumerable<ProAlert.Andon.Service.Models.CallLog>
<style>
    th {
        font-size: 1.1em;
        text-align: left;
        border: none 0px;
    }

    td {
        border: 0 none;
        padding-right: 0.75em;
        padding-left: 0.75em;
    }
</style>
<table id="activecalls">
    <tr>
        <th>Call</th>
        <th>Initiated</th>
        <th>Responded</th>
        <th></th>
    </tr>
    @foreach (var dr in Model)
    {
        if (!dr.Call.DT)
        {
                @*<tr id="@dr.Id" style="background-color:yellow">*@
            <tr id="@dr.Id">
                <td style="background-color: yellow;">@Html.Hidden("hdnCId-" + dr.Call.Id, dr.Call.Id, new {@class = "CallId"})@dr.Call.Name.Trim()</td>
                <td>@dr.DispInitiateDt((TimeZoneInfo) Session["tzi"]).ToString("HH:mm:ss")</td>
                <td>@(dr.ResponseDt.HasValue ? DateTime.Parse(dr.DispResponseDt((TimeZoneInfo) Session["tzi"]).ToString()).ToString("HH:mm:ss") : "")</td>
                <td>
                    <input type="button" value="Respond" class="actCall" id="@dr.Id"/>
                </td>
            </tr>
        }
        else
        {
            <tr id="@dr.Id">
                <td style="background-color: red; color: floralwhite">@Html.Hidden("hdnCId-" + dr.Call.Id, dr.Call.Id, new {@class = "CallId"}) @dr.Call.Name</td>
                <td>@dr.DispInitiateDt((TimeZoneInfo) Session["tzi"]).ToString("HH:mm:ss")</td>
                <td>@(dr.ResponseDt.HasValue ? DateTime.Parse(dr.DispResponseDt((TimeZoneInfo) Session["tzi"]).ToString()).ToString("HH:mm:ss") : "")</td>
                <td>
                    @if (dr.ResponseDt.HasValue)
                    {
                        <input type="button" value="Close" class="actCallClose" id="@dr.Id"/>
                    }
                    else
                    {
                        <input type="button" value="Respond" class="actCall" id="@dr.Id"/>
                    }
                </td>
            </tr>
        }
    }
</table>

