﻿@model ProAlert.Andon.Service.ViewModels.CallLogCreateVM


@using (Html.BeginForm("CallLogCreate", "WC", FormMethod.Post, new { id = "clTarget" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <fieldset>
        <legend>CallLog</legend>
        @Html.HiddenFor(model => model.CallID)
        @Html.HiddenFor(model => model.ProductID)
        @Html.HiddenFor(model => model.WorkCenterId)
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CallName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.CallName)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.IssueID, "Issue")
                </td>
                <td>@Html.DropDownListFor(model => model.IssueID, new SelectList(Model.Issues, "Id", "Name"), "<-- Select Issue -->" )
                    @Html.ValidationMessageFor(model => model.IssueID)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.SubCategoryID, "Subcategory")
                </td>
                <td>@Html.DropDownListFor(model => model.SubCategoryID, new SelectList(Model.SubCategories, "Id", "Name"), "<-- Select Sub -->")
                    @Html.ValidationMessageFor(model => model.SubCategoryID)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.OperatorNotes)
                </td>
                <td>@Html.TextAreaFor(model => model.OperatorNotes)
                    @Html.ValidationMessageFor(model => model.OperatorNotes)
                </td>
            </tr>

        </table>

        <div class="btn-Panel nonAjax">
            <input type="submit" value="Save" class="button" />
        </div>
    </fieldset>
}

