﻿@model ProAlert.Andon.Service.ViewModels.CallLogCloseVM


@using (Html.BeginForm("CloseCallLog", "WC", FormMethod.Post, new { id = "cclTarget" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <fieldset>
        @Html.HiddenFor(model => model.CallLog.CallID)
        @Html.HiddenFor(model => model.CallLog.Id)
        @Html.HiddenFor(model => model.CallLog.WorkCenterId)
        @Html.HiddenFor(model => model.CallLog.TimesegmentID)
        @Html.HiddenFor(model => model.CallLog.EmployeeID)
        @Html.HiddenFor(model => model.CallLog.ResponseDt)
        @Html.HiddenFor(model => model.CallLog.ResolveDt)
        @Html.HiddenFor(model => model.CallLog.InitiateDt)
        @Html.HiddenFor(model => model.CallLog.OperatorNotes)

        <legend>CallLog</legend>
        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CallName)

                </td>
                <td>
                    @Html.DisplayFor(model => model.CallName)
                    @Html.ValidationMessageFor(model => model.CallName)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.CallLog.InitiateDt)</td>

                <td>
                    @{ var date = Model.CallLog.DispInitiateDt((TimeZoneInfo) Session["tzi"]); }
                    @Html.DisplayFor(modelItem => date)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.CallLog.ResponseDt)
                </td>
                <td>
                    @{ var rDate = Model.CallLog.DispResponseDt((TimeZoneInfo) Session["tzi"]); }
                    @Html.DisplayFor(model => rDate)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.CallLog.IssueID)
                </td>
                <td>@Html.DropDownListFor(model => model.CallLog.IssueID, new SelectList(Model.Issues, "Id", "Name"), "<-- Select Issue -->")
                    @Html.ValidationMessageFor(model => model.CallLog.IssueID)<input type="button" name="IssueHist" value="History"/>
                </td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(model => model.CallLog.SubCategoryID)
                </td>
                <td>@Html.DropDownListFor(model => model.CallLog.SubCategoryID, new SelectList(Model.SubCategories, "Id", "Name"), "<-- Select Sub -->")
                    @Html.ValidationMessageFor(model => model.CallLog.SubCategoryID)<input type="button" name="SubHistory" value="History"/>
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.CallLog.OperatorNotes)
                </td>
                <td>@Html.DisplayFor(model => model.CallLog.OperatorNotes)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(model => model.CallLog.Resolution)
                </td>
                <td>@Html.TextAreaFor(model => model.CallLog.Resolution)
                    @Html.ValidationMessageFor(model => model.CallLog.Resolution)
                </td>
            </tr>
        </table>



        @*        <div class="btn-Panel nonAjax">
            <input type="submit" value="Save" class="button" />
        </div>*@
    </fieldset>
}

