﻿@model ProAlert.Andon.Service.Models.Employee
@using (Html.BeginForm("CollectPin", "WC", FormMethod.Post, new {id = "cpTarget"}))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <fieldset>
        <legend>Employee</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Pin)
        </div>
        <div class="editor-field">
            @Html.PasswordFor(model => model.Pin)
            @Html.ValidationMessageFor(model => model.Pin)
        </div>
    </fieldset>
}

