﻿<link href="~/Scripts/jquery.timepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.timepicker.min.js"></script>

@using (Html.BeginForm("GetDateTime", null, FormMethod.Post, new { id = "gdtTarget"}))
{
    <div>
        Date: <input id="date" type="text" name="date" style="width:100px" value="@ViewBag.Date"/><br />
        Time: <input id="time" type="text" name="time" style="width:50px" value="@ViewBag.Time" />
    </div>
}

<script>

    $("#date").datepicker({
        'format': 'yyyy-m-d',
        'autoClose': true
    });

    $("#time").timepicker({
        timeFormat: 'Hi'
    });

    $("#date").change( function (){
        $("#time").focus();
    });
</script>

