﻿<!DOCTYPE html>
<style>
    .blue-loader .ajax_loader {
        background: url("/Content/spinner_squares_circle.gif") no-repeat center center transparent;
    }

    .wait {
    }
    .text-danger { 
        color: #b94a48;
    }
</style>
<html>
<head>
    @*<link rel="shortcut icon" type="image/ico" href="~/Images/favicon.ico" />*@
    <meta charset="utf-8"/>
    <title>@ViewBag.Title - Vistech Manufacturing Inc</title>
    @*<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />*@
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@
    <meta name="viewport" content="width=device-width">


    @Styles.Render("~/Content/css")
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet"/>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <link href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet"/>
    <script src="~/Scripts/script.js"></script>
    @*<script>
        var appInsights = window.appInsights ||
            function(config) {
                function r(config) {
                    t[config] = function() {
                        var i = arguments;
                        t.queue.push(function() { t[config].apply(t, i) })
                    }
                }

                var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f;
                for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0]
                        .parentNode.appendChild(s), t.cookie = u
                        .cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Ajax"];
                    i.length;
                ) r("track" + i.pop());
                return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"),
                    config.disableExceptionTracking ||
                    (i = "onerror", r("_" + i), f = e[i], e[i] = function(config, r, u, e, o) {
                        var s = f && f(config, r, u, e, o);
                        return s !== !0 && t["_" + i](config, r, u, e, o), s
                    }), t
            }({
                instrumentationKey: "c002377a-130d-4349-84c7-b12fb6112258"
            });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>*@
</head>
<body>

    <div id="tzConversion" title="Add Timezone Conversion"></div>

    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <img style="width: 230px; height: auto;" src="~/Images/proalert_logo.jpg" />
                </p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial")
                </section>
                <nav>
                    <ul id="menu">
                        <li>
                            <a href="#">Displays</a>
                            <ul>
                                <li class="wait">@Html.ActionLink("Andon Display", "AndonDisplay", "AndonDisplay")</li>
                                @*                                <li>@Html.ActionLink("OEE Summary", "Summary", "OEESummary")</li>*@
                                <li class="wait">@Html.ActionLink("OEE Summary Details", "OEESummaryDetails", "OEESummaryDetails")</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Reports</a>
                            <ul>
                                <li class="wait">@Html.ActionLink("Drill Down", "Daily", "Daily")</li>
                                <li>@Html.ActionLink("OEE Report", "Index", "OeeRpt")</li>
                         </ul>
                        </li>
                        <li>
                            <a href="#">Configuration</a>
                            <ul>
                                <li>
                                    <a href="#">Call Setup</a>
                                    <ul>
                                        <li>@Html.ActionLink("Calls", "Index", "Call")</li>
                                        <li>@Html.ActionLink("Issues", "Index", "Issue")</li>
                                        <li>@Html.ActionLink("Subcategories", "Index", "SubCategories")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Employees</a>
                                    <ul>
                                        <li>@Html.ActionLink("Employees", "Index", "Employee")</li>
                                        <li>@Html.ActionLink("Positions", "Index", "Position")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Misc</a>
                                    <ul>
                                        <li>@Html.ActionLink("Audio Files", "Index", "AudioFile")</li>
                                        <li>@Html.ActionLink("Auto Message", "Index", "AutoMessage")</li>
                                        <li>@Html.ActionLink("Email Configuration", "Index", "Email")</li>
                                        @*<li>@Html.ActionLink("Role Management", "Index", "RoleManagement")</li>*@
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Planned DTs", "Index", "PlannedDt")</li>
                                <li>@Html.ActionLink("Products", "Index", "Product")</li>
                                <li>
                                    <a href="#">Scrap</a>
                                    <ul>
                                        <li>@Html.ActionLink("Scrap Type", "Index", "ScrapType")</li>
                                        <li>@Html.ActionLink("Last Stage", "Index", "LastStage")</li>
                                        <li>@Html.ActionLink("Reject Codes", "Index", "RejectCode")</li>
                                    </ul>
                                </li>
                                <li>@Html.ActionLink("Work Centers", "Index", "WorkCenter")</li>
                                <li>@Html.ActionLink("WC Product Stats", "Index", "ProductWorkCenterStat")</li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Scrap Management</a>
                            <ul>
                                <li>@Html.ActionLink("Scrap", "Filtered", "Scrap")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Call Management", "CallManagementCenter", "CallManagementCenter", new { id = 1001 }, null)</li>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Bridge Software Technologies</p>
            </div>
        </div>
    </footer>



    @RenderSection("scripts", required: false)
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
@*<link href="~/Scripts/jquery-ui-1.12.0.custom/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui-1.12.0.custom/jquery-ui.min.js"></script>*@
    @*<div id="ajaxResult" style="float: left; width: 150px; height: 20px"></div>*@
</body>
</html>
<script>
    window.onload = function() {
        setTzi();
    }

    function setTzi() {

        var dt = new Date().toString();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SetTzi", "WC")',
            data: { webDate: dt },
            success: function(result) {
                if (result) {
                    $("#ajaxResult").hide().html('Record saved').fadeIn(300,
                        function() {
                            var e = this;
                            setTimeout(function() { $(e).fadeOut(400); }, 2500);
                        });
                } else {
                    CreateTzConversion();
                }
            },
            error: function() {
                alert("Unable to set TZI");
            }
        });
    }

    function CreateTzConversion() {
        $("#tzConversion").dialog("open");
    }

    $("#tzConversion").dialog({
        autoOpen: false,
        width: 600,
        resizable: false,
        title: 'Add Timezone Conversion',
        modal: true,
        open: function() {
            var url = '@Url.Action("TzConversionCreate", "WC")';
            $(this).load(url);
        },
        buttons: {
            "Add": function(data) {
                AddTzConversionInfo(data);
            },
            Cancel: function() {
                $(this).dialog("close");
            }
        }
    });

    function AddTzConversionInfo() {
        var dlg = $("#tzConversion");
        $.ajax({
            type: "POST",
            url: '@Url.Action("TzConversionCreate", "WC")',
            data: $("#tzTarget").serialize(),
            success: function(data) {
                $("#ajaxResult").hide().html('Record saved').fadeIn(300,
                    function() {
                        var e = this;
                        setTimeout(function() { $(e).fadeOut(400); }, 2500);
                    });
                dlg.dialog("close");
            },
            error: function(xhr) {
                if (xhr.status == 400)
                    dlg.html(xhr.responseText, xhr.status); /* display validation errors in edit dialog */
                else
                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */
            }
        });
    }

    function displayError(message, status) {
        var $dialog = $(message);
        $dialog
            .dialog({
                modal: true,
                title: status + ' Error',
                buttons: {
                    Ok: function() {
                        $(this).dialog("close");
                    }
                }
            });
        return false;
    };

    var box;
    var db = $(document.body);
    $('body').on('click',
        'li.wait',
        function() {
            box = new ajaxLoader(db, { classOveride: 'blue-loader', bgColor: '#000', opacity: '0.3', duration: 800 });
//
        });
</script>
