﻿@model ProAlert.Andon.Service.ViewModels.WcOeeHeaderVM

<td id="P" style="text-align:left">
    P=@Model.Performance.ToString("P1")
</td>
<td id="A" style="text-align:left">
    A=@Model.Availability.ToString("P1")
</td>
<td id="Q" style="text-align:center">
    Q=@Model.Quality.ToString("P1")
</td>
<td id ="OEE" style="text-align:right">
    OEE=@Model.OEE.ToString("P1")
</td>
<td id="TA" style="text-align:right">
    T/A=@Model.Target.ToString("P1")@@@Model.OEE.ToString("P1")
</td>

