﻿@model ProAlert.Andon.Service.Models.Position

@using (Html.BeginForm("PositionCreate", "Employee", FormMethod.Post, new { id = "target" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="update-message"></div>
    <fieldset>
        <legend>Position</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="btn-Panel nonAjax">
            <input type="submit" value="Save" class="button" />
        </div>

    </fieldset>
}


