﻿@model ProAlert.Andon.Service.ViewModels.StoppedPlannedDtVM

@using (Html.BeginForm("StopPlannedDT", "WC", FormMethod.Post, new { id = "spdtTarget" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <fieldset>
        <legend>PlannedDt</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name, "Planned Downtime Event")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PlannedDtLog.Notes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.PlannedDtLog.Notes)
        </div>
        @Html.HiddenFor(model => model.PlannedDtLog.WorkCenterID)
        @Html.HiddenFor(model=>model.PlannedDtLog.Id)
        @Html.HiddenFor(model => model.PlannedDtLog.ProductID)
        @Html.HiddenFor(model => model.Name)
    </fieldset>
}