﻿@model ProAlert.Andon.Service.Models.Timesegment

        <h2>DT Call List</h2>
        @{Html.RenderPartial("_DDDTDetails", Model.CallLogs);}

        <h2>Scrap List</h2>
        @{Html.RenderPartial("_DDScrapDetails", Model.Scraps);}


