﻿@model ProAlert.Andon.Service.Models.TzConversion

@using (Html.BeginForm("TzConversionCreate", "WC", FormMethod.Post, new { id = "tzTarget" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="display-label">
        @Html.LabelFor(model => model.Client)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Client)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.System)
    </div>
    <div class="editor-field">
        @Html.DropDownList("System", "<-- select Zone -->")
        @Html.ValidationMessageFor(model => model.System)
    </div>

    @Html.HiddenFor(mdoel => Model.Client)
}


