﻿@model ProAlert.Andon.Service.Models.WorkCenter

@using (Html.BeginForm("SetOEEStart", "WC", FormMethod.Post, new { id = "oeTarget"}))
{
    <div>
        <p>Are sure you want to reset the OEE Clock? (Shift Change?)</p>
    </div>
    @Html.ValidationMessageFor(model => model.Name)
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.OEEStartTime)
}

