﻿@model ProAlert.Andon.Service.Models.Position

@{
    ViewBag.Title = "Position Details";
}

<h2>Position Details</h2>

<fieldset>
    <legend>Position</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
