﻿@using ProAlert.Andon.Service.Common
@model ProAlert.Andon.Service.ViewModels.WCVM
@{ Layout = ""; }
@Styles.Render("~/Content/css")



<style>
    .ajax_overlay { }

    .ps { }

    /*.modal {
        max-height: 50%;
        overflow-y: auto;
    }*/

    .ajax_loader {
        background: url("~/Content/spinner_squares_circle.gif") no-repeat center center transparent;
        width: 100%;
        height: 100%;
    }

    #wcHeader {
        width: 1020px;
        height: 18px;
        background-color: #e2e2e2;
        background: linear-gradient(#efefef, #bbb);
        border-radius: 5px;
        -webkit-box-shadow: #B4B5B5 1px 1px 1px;
        -moz-box-shadow: #B4B5B5 1px 1px 1px;
        box-shadow: #B4B5B5 1px 1px 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    .no-close .ui-dialog-titlebar-close { display: none; }

    li, .blue-button, .green-button, .prod-button { cursor: pointer; }

    #oee-start, #insPlannedDT, #insScrap { cursor: pointer; }

    #divMaintDt, #divMaintNonDt, #divQCDt, #divQCNonDt, #divMatDt, #divMatNonDt {
        width: 270px;
        float: left;
        /*//padding: 0.5em;*/
        margin: 0 0 0 0;
    }

    /*#OEEHeader {
        position: absolute;
        background-color: greenyellow;
        width: 1040px;
        height: 40px;
        left: 47%;
        z-index: 1000000000;
        margin: 0 auto;
    }*/

    #ulMaintDt, #ulMaintNonDt, #ulQCDt, #ulQCNonDt, #ulMatDt, #ulMatNonDt {
        list-style-type: none;
        margin: 0;
        padding: 5px;
        /*margin-right: 10px;*/
        width: 190px;
    }

    #ulMaintDt li, #ulMaintNonDt li, #ulQCDt li, #ulQCNonDt li, #ulMatDt li, #ulMatNonDt li {
        margin: 5px;
        padding: 5px;
    }

    #whole {
        width: 1020px;
        margin-left: auto;
        margin-right: auto;
    }

    .ar {
        text-align: right;
        width: 40px;
        padding-right: 5px;
    }

    .al {
        text-align: left;
        width: auto;
    }

    .advisory {
        text-align: left;
        font-size: xx-large;
        font-weight: bold;
    }
</style>
<body>
    @using (Html.BeginForm("WC", "WC", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>WorkCenterCall</legend>
            @{
                int wcid = Model.WorkCenter.Id;
            }
            <div id="whole">
                <div id="addCallLogForm" title="Add Call Log"></div>
                <div id="CloseCallLogForm" title="Close Call Log"></div>
                <div id="divPin" title="Collect Pin"></div>
                <div id="OEETimeEntry"></div>
                <div id="addPlannedDt" title="Add Planned DT"></div>
                <div id="stopPlannedDt" title="Stop Planned DT"></div>
                <div id="scrapQty" title="Enter Scrap Quantity"></div>
                <div id="cycleEntry" title="Enter Cycle Quantity"></div>
                <div id="prodSelect" title="Select Product" ></div>
                <div id="prodDisplay" title="Current Product Display"></div>

                <div style="padding-left: 25px;">
                    <table id ="tOEEHeader" style="width: 1020px; font-family: Arial; font-size: 24px; font-weight: bolder">
                        <tr id="OEEHeader">
                            @{Html.RenderPartial("_OEEHeader", Model.ProductTimelineStatsVm.WcOeeHeaderVm);}
                        </tr>
                    </table>
                </div>

                <div id="wcHeader" style="font-family: Arial; font-size: 16px; padding: 10px">
                    <div style="float: left; padding: 2px; width: 200px;" id="wcClock"></div>
                    <div style="float: left">
                        @*<div style="float: left;"><b>Last Scrap ID: </b></div>*@
                        <div style="float: left; padding-left: 1em;" id="scrapCnt"></div>
                    </div>

                    @*<div style="float: right; padding-right: 5px;"><b>@Html.DropDownList("ProductID", "<--Select Product-->")</b></div>*@
                    <div id="btnProdSelect" style="float: right; padding-right: 5px;" class="prod-button" title="">Select Product</div>
                    <div class="ar" style="float: right"><b>Part:</b></div>
                    <div style="float: right; width: 30%; margin-left: auto; margin-right: auto">
                        <div class="ar" style="float: left; padding-left: 30px;"><b>WC:</b></div>
                        <div class="al" style="float: left"><b>@Model.WorkCenter.Name</b></div>
                    </div>
                </div>
                <div id="Advisory" class="advisory"></div>
                <div id="SystemMsg" class="advisory"></div>
                <div id="miscButtons" style="float: left; padding-top: 10px; padding-left: 10px; padding-right: 10px;">
                    <div style="float: left; padding-left: 5px" class="green-button" id="oee-start">@Model.WorkCenter.DisplayOEEStart((TimeZoneInfo)Session["tzi"]).ToString("M/dd/yyyy HH:mm:ss")</div>
                    <div style="float: left; padding-left: 72px; padding-top: 10px"></div>
                    <div style="float: left;" class="blue-button" id="insScrap">Scrap</div>
                    <div style="float: left; padding: 4px"></div>
                    <div style="float: left;" class="pdt-list" id="insPlannedDT">Planned DT</div>
                    <div id="_stats" style="float: left; width: 80px; height: 15px;"></div>
                </div>
                @if (Model.WorkCenter.WorkCenterGUIOptions.ManualCycles == true)
                {
                    <div style="float: left; padding-left: 278px; padding-top: 5px; clear: left;">
                        <div style="float: right;" class="green-button" id="cycles">Cycle Entry</div>
                    </div>
                }
                <div id="buttons" style="float: left; clear: left;">
                    <div id="ajaxResult" style="float: left; width: 150px; height: 20px"></div>
                    <div id="wait" title="Please wait" style="float: left">Updating...</div>
                    <div id="Maint" style="clear: left">
                        <p style="font-size: 20px"><b>Maintenance</b></p>

                        <div id="divMaintNonDt">
                            <ul id="ulMaintNonDt">
                                @foreach (var wcc in Model.WorkCenter.WorkCenterCalls.Where(x => x.Call.Type == Enumerations.CallType.Maintenance).OrderBy(x => x.OrderID))
                                {
                                    //var cl = wcc.Call.DT ? "dt" : "nondt";
                                    if (!wcc.Call.DT)
                                    {
                                    <li id="@wcc.Call.Id" class = "nondt">
                                        @wcc.Call.Name
                                        @Html.Hidden("hdnCId-" + wcc.Call.Id, wcc.Call.Id, new { @class = "CallId" })
                                        @Html.Hidden("hdnWCCID-" + wcc.Id, wcc.Id, new { @class = "WCCId" })
                                        @Html.Hidden("hdnWCID-" + wcc.WorkCenterID, wcc.WorkCenterID, new { @class = "WCId" })
                                    </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div id="divMaintDt">
                            <ul id="ulMaintDt">
                                @foreach (var wcc in Model.WorkCenter.WorkCenterCalls.Where(x => x.Call.Type == Enumerations.CallType.Maintenance).OrderBy(x => x.OrderID))
                                {
                                    if (wcc.Call.DT)
                                    {
                                    <li id="@wcc.Call.Id" class="dt">
                                        @wcc.Call.Name
                                        @Html.Hidden("hdnCId-" + wcc.Call.Id, wcc.Call.Id, new { @class = "CallId" })
                                        @Html.Hidden("hdnWCCID-" + wcc.Id, wcc.Id, new { @class = "WCCId" })
                                        @Html.Hidden("hdnWCID-" + wcc.WorkCenterID, wcc.WorkCenterID, new { @class = "WCId" })
                                    </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>

                    <div id="QC" style="float: left; clear: left">
                        <p style="font-size: 20px"><b>QC Tech</b></p>
                        <div id="divQCNonDt">
                            <ul id="ulQCNonDt">
                                @foreach (var wcc in Model.WorkCenter.WorkCenterCalls.Where(x => x.Call.Type == Enumerations.CallType.QC).OrderBy(x => x.OrderID))
                                {
                                    if (!wcc.Call.DT)
                                    {
                                    <li id="@wcc.Call.Id" class="nondt">
                                        @wcc.Call.Name
                                        @Html.Hidden("hdnCId-" + wcc.Call.Id, wcc.Call.Id, new { @class = "CallId" })
                                        @Html.Hidden("hdnWCCID-" + wcc.Id, wcc.Id, new { @class = "WCCId" })
                                        @Html.Hidden("hdnWCID-" + wcc.WorkCenterID, wcc.WorkCenterID, new { @class = "WCId" })
                                    </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div id="divQCDt">
                            <ul id="ulQCDt">
                                @foreach (var wcc in Model.WorkCenter.WorkCenterCalls.Where(x => x.Call.Type == Enumerations.CallType.QC).OrderBy(x => x.OrderID))
                                {
                                    if (wcc.Call.DT)
                                    {
                                    <li id="@wcc.Call.Id" class="dt">
                                        @wcc.Call.Name
                                        @Html.Hidden("hdnCId-" + wcc.Call.Id, wcc.Call.Id, new { @class = "CallId" })
                                        @Html.Hidden("hdnWCCID-" + wcc.Id, wcc.Id, new { @class = "WCCId" })
                                        @Html.Hidden("hdnWCID-" + wcc.WorkCenterID, wcc.WorkCenterID, new { @class = "WCId" })
                                    </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div id="Materials" style="float: left; clear: left">
                        <p style="font-size: 20px"><b>Materials</b></p>
                        <div id="divMatNonDt">
                            <ul id="ulMatNonDt">
                                @foreach (var wcc in Model.WorkCenter.WorkCenterCalls.Where(x => x.Call.Type == Enumerations.CallType.Materials).OrderBy(x => x.OrderID))
                                {
                                    if (!wcc.Call.DT)
                                    {
                                    <li id="@wcc.Call.Id" class="nondt">
                                        @wcc.Call.Name
                                        @Html.Hidden("hdnCId-" + wcc.Call.Id, wcc.Call.Id, new { @class = "CallId" })
                                        @Html.Hidden("hdnWCCID-" + wcc.Id, wcc.Id, new { @class = "WCCId" })
                                        @Html.Hidden("hdnWCID-" + wcc.WorkCenterID, wcc.WorkCenterID, new { @class = "WCId" })
                                    </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div id="divMatDt">
                            <ul id="ulMatDt">
                                @foreach (var wcc in Model.WorkCenter.WorkCenterCalls.Where(x => x.Call.Type == Enumerations.CallType.Materials).OrderBy(x => x.OrderID))
                                {
                                    if (wcc.Call.DT)
                                    {
                                    <li id="@wcc.Call.Id" class="dt">
                                        @wcc.Call.Name
                                        @Html.Hidden("hdnCId-" + wcc.Call.Id, wcc.Call.Id, new { @class = "CallId" })
                                        @Html.Hidden("hdnWCCID-" + wcc.Id, wcc.Id, new { @class = "WCCId" })
                                        @Html.Hidden("hdnWCID-" + wcc.WorkCenterID, wcc.WorkCenterID, new { @class = "WCId" })
                                    </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div id="stats" style="float: right; clear: right">
                    @{ Html.RenderPartial("_WCStats", Model.ProductTimelineStatsVm.WcStatsVm);}
                </div>

                <div id="_CallLogList" style="float: left; width: 20px; height: 430px;">
                </div>
                <div id="CallLogList" style="float: left">
                    @{ Html.RenderPartial("_ActiveCallLogs", Model.CallLogs); }
                </div>
            </div>
        </fieldset>
    }

    <input type="hidden" id="wccid" />
    <input type="hidden" id="IsActive" />
    <input type="hidden" id="clid" />
    <input type="hidden" id="actionName" />
    <input type="hidden" id="runningOEECalc" value="F" />
    @*<input type="hidden" runat="server" id="webTime" value="" />*@
    <input type="hidden" id="ProductID" />
</body>

<style type="text/css">
    div.btn-Panel {
        display: none;
    }
</style>

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<link href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="~/signalr/hubs"></script>
@*<script src="~/Scripts/WorkCenterOee.js"></script>*@
@*<script src="~/Scripts/WorkCenterStats.js"></script>*@
<script>

</script>
<script>
    
    var offset;
    $(function() {
        var nTs = (new Date()).valueOf();
        var serverTime = (new Date('@ViewBag.ServerTime')).valueOf();
        offset = serverTime - nTs;
    });

    var adHubProxy;
    var oeeHubProxy;
    var osHubProxy;
    var lrHubProxy;
    $(function() {
        var $oeeTable = $('#tOEEHeader'),
            $p = $oeeTable.find('#P'),
            $a = $oeeTable.find('#A'),
            $q = $oeeTable.find('#Q'),
            $oee = $oeeTable.find('#OEE'),
            $ta = $oeeTable.find('#TA');

        var $statTable = $('#statsTable'),
            $lastDt = $statTable.find('#lastDt'),
            $totalDt = $statTable.find('#totalDt'),
            $scrap = $statTable.find('#scrap'),
            $rework = $statTable.find('#rework'),
            $pieceCnt = $statTable.find('#pieceCnt'),
            $cycles = $statTable.find("#cycles"),
            $minutesPrePiece = $statTable.find("#minutesPerPiece"),
            $operationTimeInMin = $statTable.find("#operationTimeInMin");
        // Reference the auto-generated proxy for the hub.

        oeeHubProxy = $.connection.workcenterOee;
        adHubProxy = $.connection.andonDisplay;
        osHubProxy = $.connection.oeeSummary;
        lrHubProxy = $.connection.labelRequest;

        function formatAdMsg(data) {
            return $.extend(data,
            {
                Advisory: data.Advisory,
                Image: data.Image
            });
        }

        function formatOeeHeader(data) {
            return $.extend(data,
            {
                Performance: data.Performance,
                Availability: data.Availability,
                Quality: data.Quality,
                OEE: data.OEE,
                Target: data.Target
            });
        }

        function formatWcStats(data) {
            return $.extend(data,
            {
                LastDTReason: data.LastDt,
                TotalDT: data.TotalDt,
                Scrap: data.Scrap,
                Rework: data.Rework,
                PieceCnt: data.PieceCnt,
                Cycles: data.Cycles,
                MinutesPerPiece: data.MinutesPerPiece,
                OperationTimeInMin: data.OperationTimeInMin
            });
        }

        adHubProxy.client.updateWcAdvisory = function(data) {
            var displayAdMsg = formatAdMsg(data);
            $("#Advisory").html(displayAdMsg.Advisory);
        };

        oeeHubProxy.client.updateWcSystemMsg = function(data) {
            $("#SystemMsg").html(data);
        };

        oeeHubProxy.client.updateOeeHeader =
            function(data) {
                var displayOeeHeader = formatOeeHeader(data);
                $p.html("P=" + displayOeeHeader.Performance);
                $a.html("A=" + displayOeeHeader.Availability);
                $q.html("Q=" + displayOeeHeader.Quality);
                $oee.html("OEE=" + displayOeeHeader.OEE);
                $ta.html("T/A=" + displayOeeHeader.Target + "@@" + displayOeeHeader.OEE);
            };
        oeeHubProxy.client.updateWcStats =
            function(data) {
                var displayWcStats = formatWcStats(data);
                $lastDt.html(displayWcStats.LastDTReason);
                $totalDt.html(displayWcStats.TotalDT);
                $scrap.html(displayWcStats.Scrap);
                $rework.html(displayWcStats.Rework);
                $pieceCnt.html(displayWcStats.PieceCnt);
                $cycles.html(displayWcStats.Cycles);
                $minutesPrePiece.html(displayWcStats.MinutesPerPiece);
                $operationTimeInMin.html(displayWcStats.OperationTimeInMin);
            };

        $.connection.hub.start()
            .done(function() {
                $("#ajaxResult").hide().html('Connected to SignalR').fadeIn(300,
                    function() {
                        var e = this;
                        setTimeout(function() { $(e).fadeOut(400); }, 2500);
                    });
            }).fail(function() {
                $("#ajaxResult").hide().html('SignalR Connection Failed').fadeIn(300,
                    function() {
                        var e = this;
                        setTimeout(function() { $(e).fadeOut(400); }, 2500);
                    });
            });

    });

    $.connection.hub.disconnected(function() {
        setTimeout(function() {
                $.connection.hub.start();
            },
            5000); // Restart connection after 5 seconds.
    });

    var Updating = false;
    //var SuspendRefresh = false;
    document.title = "WC: " + "@(Model.WorkCenter.Name)";
    var FLASH = 0;
    //setInterval(refreshPage, 60000);
    var $loading = $("#wait").hide();


    $(document)
        .ajaxStart(function() {
            //alert("start");
            Updating = true;
            $loading.show();
        })
        .ajaxStop(function() {
            //alert('stop');
            $loading.hide();
            Updating = false;
        });

    function blinker() {
        $('.advisory').fadeOut(500);
        $('.advisory').fadeIn(500);
    }

    setInterval(blinker, 1000);

    //$("#wait").show(function() {
    //    new ajaxLoader(this, options);
    //});
    @*    $(document).click(function() {
            clearInterval(flashId);
            var id = @(Model.WorkCenter.WorkCenterID);
            SetDownTimeFlag(id);
        });*@
    //setTimeout(function () {
    //    window.location.reload(1);
    //}, 60000);
    ////setInterval(TempInsertCycleHist, 10000);

    function refreshPage() {
        //if (document.body.style.backgroundColor == 'green') {

        //}
        if (FLASH === 1) {
            $(document.body).toggle('pulsate');
            $(document.body).toggle('pulsate');
        }
        //flashMe(500);
        //if ($("#runningOEECalc").val() === "F" && !//SuspendRefresh) {
        //    $("#runningOEECalc").val("T");
        //    //if (!SuspendRefresh) {
        //    //    //SuspendRefresh = true;
        //    //    UpdatePage();
        //    //    //SuspendRefresh = false;
        //    //}
        //    //myTest();
        //    //UpdateStats();
        //    //UpdateCallList();
        //    //UpdateAdvisory();
        //}
    };

    $(function() {
        $("#stats").dialog({
            dialogClass: "no-close",
            width: 480,
            position: { my: "left top", at: "right center", of: "#_stats" },
            title: "WC Stats"
        });
    });

    $(function() {
        $("#CallLogList").dialog({
            dialogClass: "no-close",
            maxheight: 480,
            width: 480,
            position: { my: "left top", at: "right center", of: "#_CallLogList" },
            title: "Active Calls"
        });
    });

    $('.prod-button')
        .click(
            function() {
                //SuspendRefresh = true;
                if ($("#btnProdSelect").prop('disabled')) {
                    //alert('getting ready to call the display product dialog box');
                    $("#prodDisplay").dialog('open');
                    return false;
                }
                $("#prodSelect").dialog('open');
                return false;
            });


    $("#prodSelect").dialog({
        autoOpen: false,
        width: 600,
        height: 600,
        resizable: false,
        title: 'Select a Product',
        modal: true,
        position: { my: "center bottom", at: "center", of: window },
        open: function() {
            //$(this).parent().promise().done(function() {
            //    //alert("done");
            //});
            var url = '@Url.Action("DisplaySelectProduct", "WC")';
            var id = parseInt(@(Model.WorkCenter.Id));
            var data = { workCenterId: id };
            $(this).load(url, data);
        },
        buttons: {
            Cancel: function() {
                $(this).dialog("close");
                ////SuspendRefresh = false;
            }
        }
    });

    $("#prodDisplay").dialog({
        autoOpen: false,
        width: 600,
        resizable: false,
        title: '',
        modal: true,
        position: { my: "center bottom", at: "center", of: window },
        open: function() {
            //$(this).parent().promise().done(function() {
            //    //alert("done");
            //});
            var url = '@Url.Action("DisplayCurrentProduct", "WC")';
            var id = parseInt(@(Model.WorkCenter.Id));
            var data = { workCenterId: id };
            $(this).load(url, data);
        },
        buttons: {
            Ok: function() {
                $(this).dialog("close");
                ////SuspendRefresh = false;
            }
        }
    });

    $('body').delegate(".ps",
        'click',
        function() {
            var dlg = $("#prodSelect");
            var WCID = $(this).parents('tr').find("input[name$='WorkCenterID']");
            var PID = $(this).parents('tr').find("input[name$='ProductID']");
            var Name = $(this).parents('tr').find("input[name$='Name']");
            $.ajax({
                url: '@Url.Action("SelectProduct", "WC")',
                type: 'POST',
                data: { workCenterId: WCID.val(), pid: PID.val() },
                success: function(data) {
                    $("#btnProdSelect").html(Name.val());
                    $("#ProductID").val(PID.val());
                    dlg.dialog("close");
                    $("#ajaxResult").hide().html('Record saved').fadeIn(300,
                        function() {
                            var e = this;
                            setTimeout(function() { $(e).fadeOut(400); }, 2500);
                        });
                    //SuspendRefresh = false;
                    oeeHubProxy.server.updateWcGui(@(Model.WorkCenter.Id));
                    osHubProxy.server.initiateUpdate(@(Model.WorkCenter.Id));
                }
            });
        });


    window.onload = function() {
        SetDownTimeFlag(@(Model.WorkCenter.Id));
        startTime();
        var pid = parseInt(@ViewBag.PID);
        $("#ProductID").val(pid);
        var pName = '@ViewBag.ProductName';
        $("#btnProdSelect").html(pName);
        if (pName === "Select Product") {
            $("#btnProdSelect").prop('disabled', false);
        } else {
            $("#btnProdSelect").prop('disabled', true);
        }
    }

    function startTime() {
        if (!$.isNumeric(offset)) {
            offset = 0;
        }
        var today = new Date((new Date()).valueOf() + offset);
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        h = checkTime(h);
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('wcClock').innerHTML = "<b>" +
            today.toLocaleDateString() +
            " " +
            h +
            ":" +
            m +
            ":" +
            s +
            "</b>";
        var t = setTimeout(function() { startTime(); }, 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        }; // add zero in front of numbers < 10
        return i;
    }

    function NeedToFlash(wcid) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("NeedToFlash")',
            data: { wcid: wcid },
            success: function(data) {
                if (data.startFlashing) {
                    //flashMe(500);
                    FLASH = 1;
                } else {
                    //clearInterval(flashId);
                    FLASH = 0;
                }
            },
            error: {

            }
        });
    }

    function SetDownTimeFlag() {
        var wcid = @(Model.WorkCenter.Id);
        var dt = new Date().toString();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("SetWorkCenterDownFlag")',
            data: { id: wcid, webDate: dt },
            success: function(data) {
                if (data.updt && !data.pdt) {
                    if (data.name === "") {
                        document.body.style.background = 'red';
                        if (data.msg != "") {
                            alert(data.msg);
                        }
                        $("#stats").dialog({
                            title: "WC Stats: DOWN"
                        });
                        $("#btnProdSelect").prop('disabled', true);
                    }

                } else if (data.pdt) {
                    document.body.style.background = 'lightblue';
                    $("#stats").dialog({
                        title: "WC Stats: Planned DT " + data.name
                    });
                    $("#SystemMsg").html(data.msg);

                    if (data.down) {
                        $("#btnProdSelect").prop('disabled', true);
                    } else {
                        if (data.name.indexOf("Over") > 0) {

                            $("#btnProdSelect").prop('disabled', false);
                            $("#btnProdSelect").html(data.btnHtml);
                        }
                        $("#insPlannedDT").html("Resume");
                    }

                } else {
                    document.body.style.background = 'green';
                    $("#stats").dialog({
                        //title: "WC Stats: " + $("#ProductID option:selected").text()
                        title: "WC Stats: " + $("#btnProdSelect").text()
                    });
                    if ($("#ProductID").val() > 0) {
                        $("#btnProdSelect").prop('disabled', true);
                    } else {
                        $("#btnProdSelect").prop('disabled', false);
                    }
                    $("#insPlannedDT").html("Planned DT");
                }
            },
            error: function() {
                alert('error');
            }
        });
    }

    $('#cycles')
        .on('click',
            function() {
                $("#wccid").val($(this).find(".WCCId").val());
                if ($("#ProductID").val() <= 0) {
                    alert("Must select a product before creating a call");
                    return false;
                }
                // want to allow cycles to be entered/captured for product setup test verification
                //if ($("#stats").dialog("option", "title").indexOf("Product Change Over") >= 0) {
                //    alert("Must click 'Resume' after selecting product");
                //    return false;
                //}
                //SuspendRefresh = true;
                $('#cycleEntry').dialog('open');
                return false;
            });

    $("#cycleEntry").dialog({
        autoOpen: false,
        width: 500,
        resizable: false,
        title: 'Enter Manual Cycles',
        modal: true,
        position: { my: "center bottom", at: "center", of: window },
        open: function() {
            //$(this).parent().promise().done(function() {
            //    //alert("done");
            //});
            var url = '@Url.Action("CreateCycle", "WC")';
            var data = { workCenterId: @(Model.WorkCenter.Id) };
            $(this).load(url, data);
            $("#Count").focus();
        },
        buttons: {
            "Add Cycles": function() {
                ManualCycleEntry();
            },
            Cancel: function() {
                $(this).dialog("close");
                //SuspendRefresh = false;
            }
        }
    });

    function ManualCycleEntry() {
        var dlg = $("#cycleEntry");
        var wcid = @(Model.WorkCenter.Id);


        $.ajax({
            type: 'POST',
            url: '@Url.Action("CreateCycles", "WC")',
            data: $("#mcTarget").serialize(),
            success: function(result) {
                dlg.dialog("close");
                // SignalR is now handling the update
                //UpdatePage();
                //SuspendRefresh = false;
                oeeHubProxy.server.updateWcGui(wcid);
                osHubProxy.server.initiateUpdate(wcid);
            },
            error: function(xhr) {
                if (xhr.status == 9)
                    dlg.html(xhr.responseText, xhr.status); /* display validation errors in edit dialog */
                else
                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */
            }
        });
    }

    function cycleKeypress(e) {
        if (e.which == 13) {
            e.preventDefault(); //stops default action: submitting form
            $(this).blur();
            $('#Add Cycles').focus().click(); //give your submit an ID
        }
    }

    $("#cycleEntry").keypress(cycleKeypress);

    //$('a').on('click', function(e){
    //    var $link = $(e.target);
    //    e.preventDefault();
    //    if(!$link.data('lockedAt') || +new Date() - $link.data('lockedAt') > 300) {
    //        doSomething();
    //    }
    //    $link.data('lockedAt', +new Date());
    //});

    $('.nondt').on('click',
        function(e) {
            var $link = $(e.target);
            e.preventDefault();
            if (!$link.data('lockedNondt') || +new Date() - $link.data('lockedNondt') > 300) {
                $("#wccid").val($(this).find(".WCCId").val());
                if ($("#ProductID").val() <= 0) {
                    alert("Must select a product before creating a call");
                    return false;
                }
                //  WC will need to be able to place calls for Materials for sure...
                //if ($("#stats").dialog("option", "title").indexOf("Product Change Over") >= 0) {
                //    alert("Must click 'Resume' after selecting product");
                //    return false;
                //}
                var r = IsCallActive($("#wccid").val(), "non");
            }

            $link.data('lockedNondt', +new Date());

            return false;
        });

    @*function UpdatePage() {
        var id = @(Model.WorkCenter.Id);
        $.ajax({
            type: 'GET',
            url: '@Url.Action("UpdatePage")',
            data: { workCenterId: id },
            dataType: 'json',
            success: function(data) {
                if (data != null) {
                    if (data.result) {
                        $("#OEEHeader").html(data.headerPartial);
                        $("#stats").html(data.statsPartial);
                        $("#activecalls").html(data.callLogPartial);
                        var cnt = (data.callLogPartial.match(/<tr/g) || []).length;
                        var color = $("body").css('background-color');
                        if (cnt == 1 && color === 'rgb(255, 0, 0)') {
                            SetDownTimeFlag();
                        }
                        //$("#Advisory").html(data.m);
                    } else {
                        SetDownTimeFlag();
                    }

                    $("#runningOEECalc").val("F");
                    //NeedToFlash(id);
                }
            },
            error: function() {
                // recording error in apperror table.
                window.location.reload(1);
                //alert("Update OEE Header failed");
            }
        });

    }*@

    function placeCall(pwccid, ppid) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("CreateNonDtCallLog")',
            data: { wccid: pwccid, pid: ppid },
            dataType: 'html',
            success: function(data) {
                $("#activecalls").html(data);
            },
            error: function() {
                alert('error');
            }
        });
    }

    function IsCallActive(wccid, type) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("IsCallActive")',
            data: { wccid: wccid },
            success: function(data) {
                if (data) {
                    alert("Call already active");
                } else {
                    if (type === "non") {
                        // send message via signalR
                        //adHubProxy.invoke('initiateCall', wccid);
                        adHubProxy.server.initiateCall(wccid);
                        placeCall($("#wccid").val(), $("#ProductID").val());
                    } else {
                        //SuspendRefresh = true;

                        $("#addCallLogForm").dialog("open");
                    }
                }
            }
        });
    }

    function AnyPlannedDownTime(justCheck) {
        var id = @(Model.WorkCenter.Id);
        $.ajax({
            type: 'GET',
            url: '@Url.Action("AnyOpenPlannedDt")',
            data: { workCenterId: id },
            success: function(result) {
                if (result) {
                    if (justCheck) {
                        //SuspendRefresh = true;

                        $("#stopPlannedDt").dialog("open");
                    } else
                        alert("Planned Downtime already started");
                } else {
                    if (!justCheck) {
                        //SuspendRefresh = true;

                        StartPlannedDT();
                    } else {
                        SetDownTimeFlag(id);
                    }
                }
            }
        });
    }

    function StartPlannedDT() {
        $("#addPlannedDt").dialog("open");
    }

    $("#addPlannedDt").dialog({
        autoOpen: false,
        width: 500,
        resizable: false,
        title: 'Add Planned Downtime Event',
        modal: true,
        position: { my: "center bottom", at: "center", of: window },
        open: function() {
            //$(this).parent().promise().done(function() {
            //    //alert("done");
            //});
            var url = '@Url.Action("StartPlanned", "WC")';
            var data = { workCenterId: @(Model.WorkCenter.Id) };
            $(this).load(url, data);
        },
        buttons: {
            "Add DT Event": function() {
                AddPlannedDTInfo();
            },
            Cancel: function() {
                $(this).dialog("close");
                //SuspendRefresh = false;
            }
        }
    });

    function AddPlannedDTInfo() {
        var dlg = $("#addPlannedDt");
        $.ajax({
            type: "POST",
            url: '@Url.Action("StartPlannedDT")',
            data: $("#pdtTarget").serialize(),
            success: function(data) {
                dlg.dialog("close");
                $("#insPlannedDT").html("Resume");
                SetDownTimeFlag(@(Model.WorkCenter.Id));
                osHubProxy.server.initiateUpdate(@(Model.WorkCenter.Id));
                if (data === "Product Change Over")
                    $("#btnProdSelect").prop('disabled', false);
                //SuspendRefresh = false;
            },
            error: function(xhr) {
                if (xhr.status == 9)
                    dlg.html(xhr.responseText, xhr.status); /* display validation errors in edit dialog */
                else
                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */
            }
        });
    }

    $("#stopPlannedDt").dialog({
        autoOpen: false,
        width: 500,
        resizable: false,
        title: 'Stop Planned Downtime Event',
        modal: true,
        position: { my: "center bottom", at: "center", of: window },
        open: function() {
            //$(this).parent().promise().done(function() {
            //    //alert("done");
            //});
            var url = '@Url.Action("StopPlanned", "WC")';
            var data = { workCenterId: @(Model.WorkCenter.Id) };
            $(this).load(url, data);
        },
        buttons: {
            "Stop DT Event": function() {
                StopPlannedDtInfo();
            },
            Cancel: function() {
                $(this).dialog("close");
                //SuspendRefresh = false;
            }
        }
    });

    function StopPlannedDtInfo() {
        var dlg = $("#stopPlannedDt");
        $.ajax({
            type: "POST",
            url: '@Url.Action("StopPlannedDT")',
            data: $("#spdtTarget").serialize(),
            success: function(data) {
                dlg.dialog('close');
                $("#insPlannedDT").html("Planned DT");
                $("#btnProdSelect").prop('disabled', true);
                //var txt = $("#ProductID option:selected").text();
                var txt = $("#btnProdSelect").text();
                $("#stats").dialog({
                    title: "WC Stats: " + txt
                });
                //$("#oee-start").html(data);

                SetDownTimeFlag(@(Model.WorkCenter.Id));
                // signalr call not working... perhaps the database has not changed yet.

                //SuspendRefresh = false;
                oeeHubProxy.server.updateWcGui(@(Model.WorkCenter.Id));
                osHubProxy.server.initiateUpdate(@(Model.WorkCenter.Id));
            },
            error: function(xhr) {
                if (xhr.status == 9)
                    dlg.html(xhr.responseText, xhr.status); /* display validation errors in edit dialog */
                else
                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */
            }
        });
    }

    $('.dt').on('click',
        function(e) {
            var $link = $(e.target);
            //$(this).text("Please Wait");
            e.preventDefault();
            if (!$link.data('lockedDt') || +new Date() - $link.data('lockedDt') > 300) {
                $("#wccid").val($(this).find(".WCCId").val());
                if ($("#ProductID").val() <= 0) {
                    alert("Must select a product before creating a call");
                    return false;
                }
                if ($("#stats").dialog("option", "title").indexOf("Product Change Over") >= 0) {
                    alert("Must click 'Resume' after selecting product");
                    return false;
                }
                IsCallActive($("#wccid").val(), "dt");
            }

            $link.data('lockedDt', +new Date());
            return false;

        });


    /* url.replace("amp;", "") generates proper url with second parameter */
    $("#addCallLogForm").dialog({
        autoOpen: false,
        width: 600,
        resizable: false,
        title: 'Add DT Call Log Form',
        modal: true,
        position: { my: "center bottom", at: "center", of: window },
        open: function() {
            //$(this).parent().promise().done(function() {
            //    //alert("done");
            //});
            var url = '@Url.Action("CallLogCreate", "WC", new {wccid = "_wccid", pid = "_pid"})';
            url = url.replace("_wccid", $("#wccid").val());
            url = url.replace("_pid", $("#ProductID").val());
            url = url.replace("amp;", "");
            $(this).load(url);
        },
        buttons: {
            "Add DT Call Log": function() {
                //adHubProxy.invoke('initiateCall', $("#wccid").val());

                adHubProxy.server.initiateCall($("#wccid").val());
                osHubProxy.server.initiateUpdate(@(Model.WorkCenter.Id));

                addCallLogInfo();
            },
            Cancel: function() {
                $(this).dialog("close");
                //SuspendRefresh = false;
            }
        }
    });


    $(document).delegate('.ui-dialog',
        'keyup',
        function(e) {
            var tagName = e.target.tagName.toLowerCase();

            tagName = (tagName === 'input' && e.target.type === 'button') ? 'button' : tagName;

            if (e.which === $.ui.keyCode.ENTER &&
                tagName !== 'textarea' &&
                tagName !== 'select' &&
                tagName !== 'button') {
                $(this).find('.ui-dialog-buttonset button').eq(0).trigger('click');

                return false;
            }
        });


    $("#divPin").dialog({
        autoOpen: false,
        width: 500,
        resizable: false,
        title: "Collect Pin",
        modal: true,
        position: { my: "center left", at: "center center", of: window },
        open: function() {
            //$(this).parent().promise().done(function() {
            //    //alert("done");
            //});
            $(this).load('@Url.Action("DisplayPinDialog")',
                function() {
                    $("#Pin").focus();
                });
        },
        buttons: {
            Verify: function(e) {
                verifyPin(e);
            },
            Cancel: function() {
                $(this).dialog("close");
                //SuspendRefresh = false;
            }
        }
    });

    function pinKeypress(e) {
        if (e.which == 13) {
            e.preventDefault(); //stops default action: submitting form
            $(this).blur();
            $('#Verify').focus().click(); //give your submit an ID
        }
    }

    $("#divPin").keypress(pinKeypress);

    function verifyPin(id) {
        var dlg = $("#divPin");
        $.ajax({
            preventDefault: true,
            url: '@Url.Action("CollectPin")',
            type: "POST",
            data: $("#cpTarget").serialize(),
            dataType: "html",
            success: function(data) {
                dlg.dialog("close");
                if ($("#actionName").val() === "respond")
                    UpdateCallResponse(data);
                if ($("#actionName").val() === "close")
                    CloseCall(data);
            },
            error: function(xhr) {
                if (xhr.status == 9) {
                    dlg.html(xhr.responseText, xhr.status); /* display validation errors in edit dialog */
                    $("#Pin").focus();
                } else
                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */
            }
        });
    }

    $('#oee-start').click(function() {
        // reset workcenter.OEEStartTime
        if ($("#ProductID").val() <= 0) {
            alert("Must select a product before changing OEE Start");
            return false;
        }
        if ($("#stats").dialog("option", "title").indexOf("Product Change Over") >= 0) {
            alert("Must click 'Resume' after selecting product");
            return false;
        }
        //SuspendRefresh = true;
        $("#OEETimeEntry").dialog("open");
        return false;
    });

    $("#OEETimeEntry").dialog({
        autoOpen: false,
        width: 500,
        resizeable: false,
        title: "Enter OEE Start Time",
        modal: true,
        open: function() {
            //$(this).parent().promise().done(function() {
            //    //alert("done");
            //});
            var url = '@Url.Action("DisplayOEEStartTime")';
            var wcid = @(Model.WorkCenter.Id);
            var data = { workCenterId: wcid };
            $(this).load(url, data);
        },
        buttons: {
            update: function(data) {
                setOEE(data);
            },
            Cancel: function() {
                $(this).dialog('close');
            }
        }
    });

    function setOEE(data) {
        var dlg = $("#OEETimeEntry");
        $.ajax({
            url: '@Url.Action("SetOEEStart")',
            data: $("#oeTarget").serialize(),
            type: "POST",
            success: function(result) {

                $("#oee-start").html(result);
                dlg.dialog("close");

                //UpdatePage();
                //SuspendRefresh = false;
                oeeHubProxy.server.updateWcGui(@(Model.WorkCenter.Id));
                osHubProxy.server.initiateUpdate(@(Model.WorkCenter.Id));
            },
            error: function(xhr) {
                if (xhr.status == 9)
                    dlg.html(xhr.responseText, xhr.status); /* display validation errors in edit dialog */
                else
                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */
            }
        });
    }

    $("#insScrap").click(function() {
        if ($("#ProductID").val() <= 0) {
            alert("Must select a product before inserting scrap");
            return false;
        }
        if ($("#stats").dialog("option", "title").indexOf("Product Change Over") >= 0) {
            alert("Must click 'Resume' after selecting product");
            return false;
        }
        //SuspendRefresh = true;
        $("#scrapQty").dialog("open");
        return false;
    });

    //
    $("#scrapQty").dialog({
        autoOpen: false,
        width: 500,
        resizeable: false,
        title: "Enter Scrap Quantity",
        modal: true,
        open: function() {
            //$(this).parent().promise().done(function() {
            //    //alert("done");
            //});
            var url = '@Url.Action("DisplayInsertScrap")';
            var id = @(Model.WorkCenter.Id);
            var ppid = $("#ProductID").val();
            var data = { workCenterId: id, pid: ppid };
            $(this).load(url, data);
        },
        buttons: {
            Insert: function(data) {
                ScrapEntry();
                $(this).dialog('close');
            },
            Cancel: function() {
                $(this).dialog('close');
                //SuspendRefresh = false;
            }
        }
    });

    function ScrapEntry() {
        var dlg = $("#scrapQty");
        $.ajax({
            url: '@Url.Action("InsertScrap", "WC")',
            type: 'POST',
            data: $("#sqTarget").serialize(),
            dataType: 'html',
            success: function(result) {
                var id = parseInt(JSON.parse(result).scrapId);
                $("#scrapCnt").html("<b>Scrap ID: " + id + "</b>");
                //if (data.error == "scraptype") {
                //    alert("Scrap types need to be setup");
                //} else {
                $("#ajaxResult").hide().html('Scrap Recorded').fadeIn(50,
                    function() {
                        var e = this;
                        setTimeout(function() { $(e).fadeOut(400); }, 2500);
                    });
                //}

                dlg.dialog("close");
                //UpdatePage(@(Model.WorkCenter.Id));
                //SuspendRefresh = false;
                oeeHubProxy.server.updateWcGui(@(Model.WorkCenter.Id));
                osHubProxy.server.initiateUpdate(@(Model.WorkCenter.Id));
                lrHubProxy.server.sendScrapLabelRequest(id);
            },
            error: function(xhr) {
                if (xhr.status == 9)
                    dlg.html(xhr.responseText, xhr.status); /* display validation errors in edit dialog */
                else
                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */
            }
        });
    }

    $("#insPlannedDT").click(function() {
        if ($("#ProductID").val() <= 0) {
            alert("Must select a product before resuming");
            return false;
        }
        if ($("#insPlannedDT").html() === "Resume") {
            // stop Planned DT Event
            AnyPlannedDownTime(true);
        } else {
            AnyPlannedDownTime(false);
        }
        return false;
    });


    function addCallLogInfo() {
        var dlg = $("#addCallLogForm");
        $.ajax({
            url: '@Url.Action("CallLogCreate", "WC")',
            type: "POST",
            data: $("#clTarget").serialize(),
            dataType: 'html',
            success: function(data) {
                if (data) {
                    $("#activecalls").html(data);
                    dlg.dialog("close");
                    SetDownTimeFlag(@(Model.WorkCenter.Id));
                    osHubProxy.server.initiateUpdate(@(Model.WorkCenter.Id));

                    $("#ajaxResult").hide().html('Record saved').fadeIn(300,
                        function() {
                            var e = this;
                            setTimeout(function() { $(e).fadeOut(400); }, 2500);
                        });
                    //SuspendRefresh = false;
                }
            },
            error: function(xhr) {
                if (xhr.status == 9)
                    dlg.html(xhr.responseText, xhr.status); /* display validation errors in edit dialog */
                else
                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */

            }
        });
    }

    function displayError(message, status) {
        var $dialog = $(message);
        $dialog
            .dialog({
                modal: true,
                title: status + ' Error',
                buttons: {
                    Ok: function() {
                        $(this).dialog("close");
                        //SuspendRefresh = false;
                    }
                }
            });
        return false;
    };

    function UpdateCallResponse(empid) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("UpdateCallResponse")',
            data: { calllogid: $("#clid").val(), empid: empid },
            dataType: 'html',
            success: function(data) {
                if (data) {
                    $("#activecalls").html(data);
                    $("#ajaxResult").hide().html('Record saved').fadeIn(300,
                        function() {
                            var e = this;
                            setTimeout(function() { $(e).fadeOut(400); }, 2500);
                        });
                    //adHubProxy.invoke('initiateCall', 0);
                    adHubProxy.server.initiateCall(0);
                }
            },
            error: function(xhr) {
                if (xhr.status == 9)
                    dlg.html(xhr.responseText, xhr.status); /* display validation errors in edit dialog */
                else
                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */
            }
        });
    }

    /* must use ("#...").on('event','class', function for future DOM elements to work.  NOT ("#...").click( */
    $('#activecalls').on('click',
        '.actCall',
        function() {
            $("#clid").val((this).id);
            $("#actionName").val("respond");
            //$("#divPin").dialog("open");
            UpdateCallResponse(-1);
        });

    $("#activecalls").on('click',
        '.actCallClose',
        function() {
            $("#clid").val((this).id);
            $("#actionName").val("close");
            //SuspendRefresh = true;
            $("#divPin").dialog("open");
        });

    function CloseCall(empid) {
        var id = $("#clid").val();
        $("#CloseCallLogForm").dialog({
            autoOpen: true,
            width: 600,
            resizable: false,
            title: 'Close Call Log Form',
            modal: true,
            position: { my: "center bottom", at: "center", of: window },
            open: function() {
                //$(this).parent().promise().done(function() {
                //    //alert("done");
                //});
                var url = '@Url.Action("CloseCallLogGet", "WC", new {calllogid = "_id", empid = "_empid"})';
                url = url.replace("_id", id);
                url = url.replace("_empid", empid);
                url = url.replace("amp;", "");
                $(this).load(url);
            },
            buttons: {
                "Close Call Log": function() {
                    CloseCallLogInfo();
                },
                "Later": function() {
                    LaterCallLog();
                    $(this).dialog("close");
                    //SuspendRefresh = false;
                }
            }
        });
    }

    function CloseCallLogInfo() {
        var dlg = $("#CloseCallLogForm");
        $.ajax({
            url: '@Url.Action("CloseCallLog", "WC")',
            type: "POST",
            data: $("#cclTarget").serialize(),
            dataType: 'html',
            success: function(data) {
                if (data) {
                    $("#activecalls").html(data);
                    dlg.dialog("close");
                    $("#ajaxResult").hide().html('Record saved').fadeIn(300,
                        function() {
                            var e = this;
                            setTimeout(function() { $(e).fadeOut(400); }, 2500);
                        });
                    // clear Andon Screen via SignalR
                    //adHubProxy.invoke('initiateCall', 0);
                    adHubProxy.server.initiateCall(0);

                    SetDownTimeFlag(@(Model.WorkCenter.Id));
                    osHubProxy.server.initiateUpdate(@(Model.WorkCenter.Id));

                    //SuspendRefresh = false;
                }
            },
            error: function(xhr) {
                if (xhr.status == 9)
                    dlg.html(xhr.responseText, xhr.status); /* display validation errors in edit dialog */
                else
                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */
            }
        });
    }

    function LaterCallLog() {
        var dlg = $("#CloseCallLogForm");
        $.ajax({
            url: '@Url.Action("LaterCallLog", "WC")',
            type: "POST",
            data: $("#cclTarget").serialize(),
            dataType: 'html',
            success: function(data) {
                if (data) {
                    $("#activecalls").html(data);
                    dlg.dialog("close");
                    $("#ajaxResult").hide().html('Record saved').fadeIn(300,
                        function() {
                            var e = this;
                            setTimeout(function() { $(e).fadeOut(400); }, 2500);
                        });
                    // clear Andon Screen via SignalR
                    //adHubProxy.invoke('initiateCall', 0);
                    adHubProxy.server.initiateCall(0);
                    SetDownTimeFlag(@(Model.WorkCenter.Id));
                    osHubProxy.server.initiateUpdate(@(Model.WorkCenter.Id));

                    //SuspendRefresh = false;
                }
            },
            error: function(xhr) {
                if (xhr.status == 9)
                    dlg.html(xhr.responseText, xhr.status); /* display validation errors in edit dialog */
                else
                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */

            }
        });
    }
    //// This optional function html-encodes messages for display in the page.
    //function htmlEncode(value) {
    //    var encodedValue = $('<div />').text(value).html();
    //    return encodedValue;
    //}
</script>