﻿@model IEnumerable<ProAlert.Andon.Service.Models.WorkCenter>

@{ Layout = ""; }
@Styles.Render("~/Content/css")

<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<link href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>


<style>
    #whole {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

<script>
    window.onload = function () {
        startTime();
    }

    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('wcClock').innerHTML = h + ":" + m + ":" + s;
        var t = setTimeout(function () { startTime() }, 500);
    }

    function checkTime(i) {
        if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
        return i;
    }

</script>
<body>
<div id="whole">
    <h1>Choose your work center</h1>
    <div style="float: right; clear: right; padding-right: 3em; background-color: white;" id="wcClock">
        <b></b>
    </div>

    @using (Html.BeginForm())
    {
        <table>
            <tr>
            @{
                var cnt = 0;
                foreach (var item in Model)
                {
                    var c = string.Empty;
                    c = item.GuiRunning ? "wc-running" : "wc-list";
                    if (cnt++ % 3 == 0)
                    {
                        @: </tr> <tr> 
                    }
                    @: <td> 
                    <div class=@c id="@item.Id">
                        @item.Name
                    </div>
                    @:</td>
                }
                @: </tr>
            }
        </table>
    }

</div>
</body>

<script>

    $('.wc-list').on('click', function () {
        var url = '@Url.Action("WC", new { id = "_id" })';
        url = url.replace("_id", $(this).attr("id"));
        //alert(url);
        window.location.href = url;
    });
</script>