﻿@using ProAlert.Andon.Service.Common
@model IEnumerable<ProAlert.Andon.Service.ViewModels.ProductTimelineStatsVM>

@{ Layout = ""; }
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<link href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

<style>
    .green-button {
        width: 190px;
        text-align: center;
        border: 1px solid #34740e;
        -webkit-box-shadow: #b4b5b5 1px 1px 1px;
        -moz-box-shadow: #b4b5b5 1px 1px 1px;
        box-shadow: #b4b5b5 1px 1px 1px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 16px;
        font-family: arial, helvetica, sans-serif;
        padding: 10px 10px 10px 10px;
        text-decoration: none;
        display: inline-block;
        text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
        font-weight: bold;
        color: #FFFFFF;
        background-color: #4ba614;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#4ba614), to(#005700));
        background-image: -webkit-linear-gradient(top, #4ba614, #005700);
        background-image: -moz-linear-gradient(top, #4ba614, #005700);
        background-image: -ms-linear-gradient(top, #4ba614, #005700);
        background-image: -o-linear-gradient(top, #4ba614, #005700);
        background-image: linear-gradient(to bottom, #4ba614, #005700);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4ba614, endColorstr=#005700);
    }

        .green-button:hover {
            border: 1px solid #224b09;
            background-color: #63DB1C;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#63DB1C), to(#002400));
            background-image: -webkit-linear-gradient(top, #63DB1C, #002400);
            background-image: -moz-linear-gradient(top, #63DB1C, #002400);
            background-image: -ms-linear-gradient(top, #63DB1C, #002400);
            background-image: -o-linear-gradient(top, #63DB1C, #002400);
            background-image: linear-gradient(to bottom, #63DB1C, #002400);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#63DB1C, endColorstr=#002400);
        }

    .lblDT {
        color: red;
        float: left;
    }

    .lblNonDT {
        float: left;
        color: yellow;
    }

    .redCell {
        color: red;
    }

    .greenCell {
        color: green;
    }

    .yellowCell {
        color: yellow;
    }

    .lightgreenCell {
        color: lightgreen;
    }

    .lightblueCell {
        color: lightblue;
    }

    .sLeft {
        float: left;
        width: 5px;
        height: 10px;
    }
    .sRight {
        width: 5px;
        height: 10px;
        float: left;
    }
    .tlLeft {
        width: 5px;
        height: 30px;
        background-color: #e2e2e2;
        background: linear-gradient(#efefef, #bbb);
        border-radius: 5px 0 0 5px;
        -webkit-box-shadow: #B4B5B5 1px 1px 1px;
        -moz-box-shadow: #B4B5B5 1px 1px 1px;
        box-shadow: #B4B5B5 1px 1px 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    .tlRight {
        width: 5px;
        height: 30px;
        background-color: #e2e2e2;
        background: linear-gradient(#efefef, #bbb);
        border-radius: 0 5px 5px 0;
        -webkit-box-shadow: #B4B5B5 1px 1px 1px;
        -moz-box-shadow: #B4B5B5 1px 1px 1px;
        box-shadow: #B4B5B5 1px 1px 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    .pdtanddtColor {
        background-color: purple;
        text-align: center;
        height: 30px;
        background: linear-gradient(mediumslateblue, purple);
        -webkit-box-shadow: #B4B5B5 1px 1px 1px;
        -moz-box-shadow: #B4B5B5 1px 1px 1px;
        box-shadow: #B4B5B5 1px 1px 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    .runColor, .runScrap {
        background-color: green;
        text-align: center;
        height: 30px;
        background: linear-gradient(lightgreen, green);
        -webkit-box-shadow: #B4B5B5 1px 1px 1px;
        -moz-box-shadow: #B4B5B5 1px 1px 1px;
        box-shadow: #B4B5B5 1px 1px 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    .pdtColor {
        background-color: lightskyblue;
        height: 30px;
        text-align: center;
        background: linear-gradient(lightblue, blue);
        -webkit-box-shadow: #B4B5B5 1px 1px 1px;
        -moz-box-shadow: #B4B5B5 1px 1px 1px;
        box-shadow: #B4B5B5 1px 1px 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    .dtColor {
        background-color: red;
        text-align: center;
        height: 30px;
        background: linear-gradient(lightpink, red);
        -webkit-box-shadow: #B4B5B5 1px 1px 1px;
        -moz-box-shadow: #B4B5B5 1px 1px 1px;
        box-shadow: #B4B5B5 1px 1px 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    body {
        background-color: black;
    }

    th, td {
        color: white;
    }

    table, th, td {
        border-collapse: collapse;
        font-size: large;
        border: 2px solid white;
        font-family: Arial;
    }

    #whole, #oee {
        width: 1500px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    #oee {
        width: 200px;
        margin: auto;
        padding-top: 2em;
    }

    .ui-tooltip {
        white-space: pre-wrap;
    }

    .red-cell {
        background: red;
    }

    #details {
        display: none;
    }
</style>
<body>
    @*    Yesterday: @ViewBag.Yesterday
    Now: @ViewBag.Now
    UTC: @ViewBag.UTC
    newNow: @ViewBag.newNow
    newYesterday: @ViewBag.newYesterday*@
    "mm/dd/YY HH:mm:ss"
    <div id="whole">
        @{ Html.RenderPartial("_DrillDown");}

        <div id="oee">
            <div class="green-button" id="oee-start">@timeconversions.UTCtoClient((TimeZoneInfo)Session["tzi"], (DateTime)ViewBag.userDt).ToString("M/dd/yyyy HH:mm:ss")</div>
        </div>
        <div id="OEETimeEntry" title="Select start of OEE calculations"></div>

        <div id="timeline" style="width: 1400px; margin-right: auto; margin-left: auto; font-family: Arial;">
        </div>
        <div id="details" style="overflow: auto; max-height: 600px;"></div>
        <input type="hidden" id="refreshRunning" value="F" />
    </div>

</body>


<script>
    document.title = "Daily Report";

    $(document).ready(function () {
        $(document).tooltip();
    });

    window.onload = function () {
        adjustGrid();
        startTime();
    }

    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        h = checkTime(h);
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('wcClock').innerHTML = "<b>" + today.toLocaleDateString() + " " + h + ":" + m + ":" + s + "</b>";
        var t = setTimeout(function () { startTime(); }, 500);
    }

    function checkTime(i) {
        if (i < 10) {
            i = "0" + i;
        };  // add zero in front of numbers < 10
        return i;
    }

    $('#oee-start').click(function () {
        // reset workcenter.OEEStartTime 
        //clearTimeout(timer);
        $("#OEETimeEntry").dialog("open");
    });

    $("#OEETimeEntry").dialog({
        autoOpen: false,
        width: 500,
        resizeable: false,
        title: "Enter OEE Start Time",
        modal: true,
        open: function () {
            var url = '@Url.Action("DisplayOEEStartTime")';
            $(this).load(url);
        },
        buttons: {
            update: function (data) {
                setOEE(data);
            },
            Cancel: function () {
                $(this).dialog('close');
            }
        }
    });

    function setOEE(data) {
        var dlg = $("#OEETimeEntry");
        $.ajax({
            url: '@Url.Action("SetOEEStart")',
            data: $("#gdtTarget").serialize(),
            type: "POST",
            success: function (result) {
                $("#oee-start").html(result);
                dlg.dialog("close");
                window.location.reload(1);
            },
            error: function (xhr) {
                alert("Cannot be a future date/time");
            }
        });
    }

    $("#timeline").on('click', 'div', function () {
        $("#details").data('sTsId', $(this).attr('id'));
        $("#details").data('sTlId', $(".tlLeft").attr('id'));
        if (!$(this).hasClass("runColor") && !$(this).hasClass("pdtColor")) {
            $("#details").dialog('open');
        }
    });
    
    @*function GetTSDetails(sTlId, sTsId) {
        $.ajax({
            url: '@Url.Action("GetTSDetails")',
            data: { tlid: sTlId, tsid: sTsId },
            type: "GET",
            success: function (result) {
                alert(result);
                $("#details").html(result);
            },
            error: function (xhr) {
                alert("error getting ts details");
            }
        });
    }*@

    function adjustGrid() {
        $("#grid").css("left", ($(window).width() - $("#grid").width()) / 2);
    }
    function adjustTL() {
        $("#timeline").css("left", ($(window).width() - $("#timeline").width()) / 2);
    }

    $("#timeline").change(function () {
        adjustTL();
    });

    $("tr").click(function () {
        GetTimeLine($(this).attr("id"));
    });

    function GetTimeLine(name) {
        $.ajax({
            url: '@Url.Action("DisplayTimeLine")',
            data: { id: name },
            type: "GET",
            success: function (result) {
                $("#timeline").html(result);
            },
            error: function (xhr) {
                alert("error getting timeline");
            }
        });
    }

    $("#details").dialog({
        autoOpen: false,
        width: 700,
        height: 700,
        resizable: false,
        title: 'DT Calls & Scrap Details',
        modal: true,
        position: { my: "center bottom", at: "center", of: window },
        open: function () {
            var url = '@Url.Action("GetTSDetails")';
            var id = $("#details").data('sTsId');
            var lid = $("#details").data('sTlId');
            var data = { tlid: lid, tsid: id };
            $(this).load(url, data);
        },
        buttons: {
            "Create Work Order": function () {
                //alert("Future functionality.");
                $(this).dialog('close');
                $("#details").attr("display", "none");
                window.open('https://ss-cmms.com/released/workorders.php?create=1');
            },
            Done: function () {
                $(this).dialog("close");
                $("#details").attr("display", "none");
            }
        }
    });

</script>
