﻿@model ProAlert.Andon.Service.ViewModels.ProductWCStatsCreateVM

@{
    ViewBag.Title = "Create Product/WC Stats";
}
<script>
    $(document).ready(function () {
        $("#Available, #Performance, #Quality").change(function () {
            var A = $("#Available").val();
            var P = $("#Performance").val();
            var Q = $("#Quality").val();
            $("#divOEE").html(A * P * Q);
        });
    });
</script>
<h2>Create Product/WC Stats</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ProductWorkCenterStat</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductWorkCenterStat.WorkCenterID)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ProductWorkCenterStat.WorkCenterID, Model.WorkCenters)
            @Html.ValidationMessageFor(model => model.ProductWorkCenterStat.WorkCenterID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductWorkCenterStat.ProductID)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.ProductWorkCenterStat.ProductID, Model.Products)
            @Html.ValidationMessageFor(model => model.ProductWorkCenterStat.ProductID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductWorkCenterStat.CyclesPerHour)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductWorkCenterStat.CyclesPerHour)
            @Html.ValidationMessageFor(model => model.ProductWorkCenterStat.CyclesPerHour)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductWorkCenterStat.UnitsPerCycle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductWorkCenterStat.UnitsPerCycle)
            @Html.ValidationMessageFor(model => model.ProductWorkCenterStat.UnitsPerCycle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductWorkCenterStat.Yield)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductWorkCenterStat.Yield)
            @Html.ValidationMessageFor(model => model.ProductWorkCenterStat.Yield)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductWorkCenterStat.SetUpTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductWorkCenterStat.SetUpTime)
            @Html.ValidationMessageFor(model => model.ProductWorkCenterStat.SetUpTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductWorkCenterStat.Available)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductWorkCenterStat.Available)
            @Html.ValidationMessageFor(model => model.ProductWorkCenterStat.Available)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductWorkCenterStat.Performance)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductWorkCenterStat.Performance)
            @Html.ValidationMessageFor(model => model.ProductWorkCenterStat.Performance)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductWorkCenterStat.Quality)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductWorkCenterStat.Quality)
            @Html.ValidationMessageFor(model => model.ProductWorkCenterStat.Quality)
        </div>

        <div class="display-label">
            @Html.LabelFor(model => model.ProductWorkCenterStat.OEE)
        </div>
        <div class="display-field" id="divOEE">
            @Html.DisplayFor(model => model.ProductWorkCenterStat.OEE)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductWorkCenterStat.PerformanceCap)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProductWorkCenterStat.PerformanceCap)
            @Html.ValidationMessageFor(model => model.ProductWorkCenterStat.PerformanceCap)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductWorkCenterStat.QualityCap)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.ProductWorkCenterStat.QualityCap)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProductWorkCenterStat.AvailableCap)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.ProductWorkCenterStat.AvailableCap)
        </div>
        <div style="float: left; clear: both">
            <input type="submit" value="Create" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
