﻿@model IEnumerable<ProAlert.Andon.Service.Models.ProductWorkCenterStat>

@{
    ViewBag.Title = "Product/WC Stat Index";
}

<h2>Product/WC Stat Index</h2>

<p>
    <input id="create" type="button" value="Create"/>
</p>
@using (Html.BeginForm("Index", "ProductWorkCenterStat", FormMethod.Get))
{
    @Html.DropDownList("WorkCenterID", "<--select work center-->")
    <input type="submit" value="Filter" />
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkCenter.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CyclesPerHour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsPerCycle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yield)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetUpTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OEE)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCenter.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CyclesPerHour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitsPerCycle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Yield)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetUpTime)
            </td>
            <td>
                @item.OEE.ToString("P")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<script>
    $("#create").click(function() {
        //alert($("#WorkCenterID").val());
        window.location = '@Url.Action("Create", "ProductWorkCenterStat")' + '?wcid=' + encodeURIComponent($("#WorkCenterID").val());
    });
</script>