﻿
@{
    ViewBag.Title = "Role Management";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Manage Users
            </p>
        </div>
    </section>
}
<h3>Role Management</h3>
<ol class="round">
    <li class="one">
        <div>
            @using (Html.BeginForm("AddRole", "RoleManagement"))
            {
                <label>Role Name</label>
                <input type="text" name="role" />
                <input type="submit" value="Add" />
            }
        </div>
    </li>

    <li class="two">
        <div>
            @using (Html.BeginForm("AddUserToRole", "RoleManagement"))
            {
                <label>Add User to Selected Role</label>
                @Html.DropDownList("role");
                <input type="text" name="user" />
                <input type="submit" value="Add" />
            }
        </div>
    </li>

</ol>
