﻿@model IEnumerable<ProAlert.Andon.Service.Models.WorkCenter>

@{
    ViewBag.Title = "Work Center Index";
}

<h2>Work Center Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Create Demo Calls", "CreateCalls")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GuiRunning)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachineRunning)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GuiRunning)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MachineRunning)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            @Html.ActionLink("Manage Calls", "ManageCalls", new { id=item.Id, CallTypeID="Maintenance" , dt="0", wcID=item.Id })
            @Html.ActionLink("Temp WC GUI Launch", "WC", "WC", new { id=item.Id}, null)
        </td>
    </tr>
}

</table>
