﻿@model ProAlert.Andon.Service.ViewModels.WorkCenterCallVM

<link href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<style>
    #Available, #Selected {
        width: 300px;
        height: 400px;
        padding: 0.5em;
        float: left;
        margin: 10px 10px 10px 0;
    }

    #Available {
        clear: both;
    }

    li {
        cursor: pointer;
    }

    #Seleted {
        clear: right;
    }

    #avail, #select {
        list-style-type: none;
        margin: 0;
        float: left;
        margin-right: 10px;
        background: #eee;
        padding: 5px;
        width: 190px;
    }

        #avail li, #select li {
            margin: 5px;
            padding: 5px;
        }

    .highlight {
        border: 10px solid yellow;
        background-color: yellow;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        $("#mySave").on('click', function () {
            saveSortOrder();
            return false;
        });
        $('#avail').sortable({ connectWith: '#select' });
        $('#select').sortable({ connectWith: '#avail' });
        $('#select').droppable({
            hoverClass: "highlight",
            drop: function (event, ui) {
                $(this).addClass("ui-state-highlight");
            }
        });

        $("#dt option").each(function (index, element) {
            if ($(this).val() == $("#hdt").val())
                $("#dt").val($("#hdt").val());
        });
    });

    function saveSortOrder() {
        var workCenterCalls = new Array();
        $("#select li").each(function (index) {
            var item = new Object();
            item.WorkCenterCallID = $(this).find($(".WCCId")).val();;
            item.CallID = $(this).find($(".CallId")).val();
            item.WorkCenterID = $(this).find($(".WCId")).val();;
            item.OrderID = index;
            workCenterCalls.push(item);
        });
        //var form = $('__AjaxAntiForgeryForm');
        //var token = $('input[name="__RequestVerificationToken"]', form).val();
        var params = { workCenterCalls: workCenterCalls, CallTypeID: $("#CallTypeID").val(), dt: $("#hdt").val(), wcID: $("#hdnWCID").val() }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SaveOrder", "WorkCenter")',
            //data: { __RequestVerificationToken: token, workCenterCalls: JSON.stringify(workCenterCalls) },
            data: JSON.stringify(params),
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function () {
                $("#ajaxResult").hide().html('Record saved').fadeIn(300, function () {
                    var e = this;
                    setTimeout(function () { $(e).fadeOut(400); }, 2500);
                });

            },
            error: function () {
                $("#ajaxResult").hide().html('Record save failed').fadeIn(300, function () {
                    var e = this;
                    setTimeout(function () { $(e).fadeOut(400); }, 2500);
                });
            }
        });
    }
</script>

<h2>@ViewBag.Title</h2>
<br />
@Html.Hidden("hDT", (string)ViewBag.DT, new { id = "hdt" })
@using (Html.BeginForm("ManageCalls", "WorkCenter", FormMethod.Post, new { id = "__AjaxAntiForgeryForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>WorkCenterCall</legend>

        <div style="float: left; padding-top: 5px">
            @Html.DropDownList("CallTypeID", "Select Type")
            <br />
            <select name="dt" id="dt">
                <option value="0">Non DT</option>
                <option value="1">DT</option>
            </select>
        </div>
        <div style="float: left; clear: right; padding-left: 10px">
            <input type="submit" value="Filter" />
        </div>
        <div style="float: right">
            <button id="mySave">Save Changes</button>
        </div>

        @{
    int wcid = ViewBag.WCID;
        }
        <div id="Available">
            <p><b>Available Calls</b></p>
            <ul id="avail">

                @foreach (var call in Model.Calls)
                {
                    if (Model.WorkCenterCalls.Any(x => x.CallID == call.Id))
                    {
                        continue;
                    }
                    if (call.DT)
                    {
                    <li id="@call.Id" class="dt"><span id="sort-updown"></span>
                        @call.Name
                        @Html.Hidden("hdnCId-" + call.Id, call.Id, new { @class = "CallId" })
                        @Html.Hidden("hdnWCCID-X", -1, new { @class = "WCCId" })
                        @Html.Hidden("hdnWCID", wcid, new { @class = "WCId" })
                    </li>
                    }
                    else
                    {
                    <li id="@call.Id" class="nondt">
                        @call.Name
                        @Html.Hidden("hdnCId-" + call.Id, call.Id, new { @class = "CallId" })
                        @Html.Hidden("hdnWCCID-X", -1, new { @class = "WCCId" })
                        @Html.Hidden("hdnWCID", wcid, new { @class = "WCId" })
                    </li>
                    }
                }
            </ul>

        </div>
        <div id="Selected">
            <p><b>Selected WC Calls</b></p>
            <ul id="select">
                @foreach (var wcc in Model.WorkCenterCalls.OrderBy(x => x.OrderID))
                {
                    var wccall = Model.Calls.First(x => x.Id == wcc.CallID);
                    if (wccall.DT)
                    {
                    <li id="@wccall.Id" class="dt"><span id="sort-updown"></span>
                        @wccall.Name
                        @Html.Hidden("hdnCId-" + wccall.Id, wccall.Id, new { @class = "CallId" })
                        @Html.Hidden("hdnWCCID-" + wcc.Id, wcc.Id, new { @class = "WCCId" })
                        @Html.Hidden("hdnWCID", wcc.WorkCenterID, new { @class = "WCId" })
                    </li>
                    }
                    else
                    {
                    <li id="@wccall.Id" class="nondt">
                        @wccall.Name
                        @Html.Hidden("hdnCId-" + wccall.Id, wccall.Id, new { @class = "CallId" })
                        @Html.Hidden("hdnWCCID-" + wcc.Id, wcc.Id, new { @class = "WCCId" })
                        @Html.Hidden("hdnWCID", wcc.WorkCenterID, new { @class = "WCId" })
                    </li>
                    }
                }
            </ul>
        </div>
    </fieldset>
}
<div id="ajaxResult">result</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
