﻿@model Vistech.Andon.Service.ViewModels.OEESummaryVM
@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    body {
        background-color: black;
    }
    td, th {
        font-size: x-large;
        font-family: Arial;
    }
    table, th, td {
        color: white;
    }
    #whole {
        width: 1150px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Summary</title>
</head>
<body>
    <div id="whole">
        @{ Html.RenderPartial("_OEESummary");}
    </div>
</body>
</html>
