﻿@model ProAlert.Andon.Service.Models.AudioFile

@{
    ViewBag.Title = "Create AudioFile";
}
<script>
    $(document).ready(function () {
        $("#sndFile").change(function () {
            //document.getElementById("Pos").value = $('option:selected', this).text();
            $("#Path").val($(this).val());
        });
    });
</script>

<h2>Create AudioFile</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>AudioFile</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

@*        <div class="editor-label">
            @Html.LabelFor(model => model.Path)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Path)
            @Html.ValidationMessageFor(model => model.Path)
        </div>*@
        
        <div class="editor-label">
            @Html.LabelFor(model => model.RepeatCnt)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RepeatCnt)
            @Html.ValidationMessageFor(model => model.RepeatCnt)
        </div>

        <input type="file" id="uploadFile" name="uploadFile" />

        <div style="float: left; clear: both">
            <input type="submit" value="Create" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
