﻿@model ProAlert.Andon.Service.Models.AudioFile

@{
    ViewBag.Title = "AudioFile Details";
}

<h2>Audio File Details</h2>

<fieldset>
    <legend>AudioFile</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

@*    <div class="display-label">
         @Html.DisplayNameFor(model => model.Path)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Path)
    </div>*@
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.RepeatCnt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RepeatCnt)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
