﻿@using Vistech.Andon.Web.helpers
@using Vistech.Andon.Web.Tools
@model ProAlert.Andon.Service.Models.AutoMessage

@{
    ViewBag.Title = "Delete Auto Message";
}

<h2>Delete Auto Message</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AutoMessage</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Message)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Message)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DisplayLine)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayLine)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.DisplayColors)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DisplayColors)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.AudioFile.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AudioFile.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Duration)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Duration)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Start)
    </div>
    <div class="display-field">
        @{ var cStart = timeconversions.UTCtoClient((TimeZoneInfo)Session["tzi"], Model.Start);}
        @Html.DisplayFor(model => cStart)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Reoccurring)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Reoccurring)
    </div>

    <div class="display-label">
        @Html.Label("Creator/Editor")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Employee.FullName)
    </div>
    <div class="display-label">
        @Html.LabelFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.Image(Model.Image)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
