﻿@using Vistech.Andon.Web.helpers
@model ProAlert.Andon.Service.Models.AutoMessage
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

@{
    ViewBag.Title = "Edit Auto Message";
}

<h2>Edit Auto Message</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div id="getDate"></div>

    <fieldset>
        <legend>AutoMessage</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Message)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Message)
            @Html.ValidationMessageFor(model => model.Message)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AudioFileID, "AudioFile")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AudioFileID", string.Empty)
            @Html.ValidationMessageFor(model => model.AudioFileID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DisplayLine)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.DisplayLine)
            @Html.ValidationMessageFor(model => model.DisplayLine)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DisplayColors)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.DisplayColors)
            @Html.ValidationMessageFor(model => model.DisplayColors)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Start)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Start)
            @Html.ValidationMessageFor(model => model.Start)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reoccurring)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reoccurring)
            @Html.ValidationMessageFor(model => model.Reoccurring)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Interval)
        </div>
        <div class="editor-field">
            @Html.EnumDropDownListFor(model => model.Interval)
            @Html.ValidationMessageFor(model => model.Interval)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IntervalQty)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IntervalQty)
            @Html.ValidationMessageFor(model => model.IntervalQty)
        </div>

        <div class="editor-label">
            @Html.Label("Creator/Editor")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Employee.FullName)
            @Html.ValidationMessageFor(model => model.Employee.FullName)
        </div>
        <div class="editor-label">@Html.Label("Select Image")</div>
        <div class="editor-field">
            <input type="file" id="uploadFile" name="uploadFile" />
        </div>
        <div class="editor-label">@Html.LabelFor(model => model.Image)</div>
        <div class="editor-field">
            @Html.Image(Model.Image)
        </div>

        <div style="float: left; clear: both">
            <input type="submit" value="Save" />
        </div>
        @Html.HiddenFor(model => model.Start, new { id = "Start" })
    </fieldset>
}

<script>
    $("#Start").click(function () {
        $("#getDate").dialog('open');
    });

    $("#getDate").dialog({
        autoOpen: false,
        width: 500,
        resizeable: false,
        title: "Enter Start Time",
        modal: true,
        open: function () {
            var url = '@Url.Action("GetDateTime")';
            $(this).load(url);
        },
        buttons: {
            update: function (data) {
                getDate(data);
            },
            Cancel: function () {
                $(this).dialog('close');
            }
        }
    });

    function getDate(data) {
        var dlg = $("#getDate");
        $.ajax({
            url: '@Url.Action("SetDateTime")',
            data: $("#gdtTarget").serialize(),
            type: "POST",
            dataType: 'html',
            success: function (result) {
                $("#Start").val(result.replace(/\"/g, ""));
                //$("#Start").val($("#cStart").val());
                dlg.dialog("close");
            },
            error: function (xhr) {
                alert("Cannot be a future date/time");
            }
        });
    }
    function loadname(img) {

        var isIE = (navigator.appName == "Microsoft Internet Explorer");
        var path = img.value;
        var ext = path.substring(path.lastIndexOf('.') + 1).toLowerCase();

        if (ext == "gif" || ext == "jpeg" || ext == "jpg" || ext == "png") {
            if (isIE) {
                $('#perviewimg').attr('src', path);
            } else {
                if (img.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#previewimg').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(img.files[0]);
                }
            }

        } else {
            alert("incorrect file type");
        }
    }

    function PreviewImage() {
        alert("preview");
    }

    $("#uploadFile").change(function () {
        loadname(this);
    });
</script>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
