﻿@using ProAlert.Andon.Service.Common
@model IEnumerable<ProAlert.Andon.Service.Models.AutoMessage>

@{
    ViewBag.Title = "Auto Message Index";
}

<h2>Auto Message Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AudioFile.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reoccurring)
        </th>
        <th>
            Creator/Editor
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AudioFile.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @{ var cStart = timeconversions.UTCtoClient((TimeZoneInfo) Session["tzi"], item.Start); }
            @Html.DisplayFor(modelItem => cStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reoccurring)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.FullName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
