﻿@model ProAlert.Andon.Service.Models.RptDateTimeRange
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.inputmask/jquery.inputmask-3.0.55.js"></script>
<script src="~/Scripts/jquery.inputmask/jquery.inputmask.extensions-3.0.55.js"></script>
<link href="~/Scripts/jquery.timepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.timepicker.min.js"></script>

@using (Html.BeginForm("Index", "OeeRpt", FormMethod.Post, new { role = "form", id = "iTarget" }))
{
    @Html.AntiForgeryToken()
    <fieldset>
        <div class="form-horizontal">
            <h4>OEE Report</h4>
            <hr/>
            <div class="editor-label">
                @Html.LabelFor(model => model.StartDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.StartDate)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.StartTime)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.StartTime)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.StopDate)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.StopDate)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.StopTime)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.StopTime)
            </div>
            <div class="form-group" style="float: left; clear:both">
                <div class="col-md-offset-2 col-md-10">
                    <input id="btnOEERpt" type="submit" value="Download OEE Data" class="btn btn-default"/>
                </div>
            </div>
        </div>
    </fieldset>
}
<script>

    $("[id$='Date']").datepicker({
        'format': 'yyyy-m-d',
        'autoClose': true
    });

    $("[id$='Time']").timepicker({
        timeFormat: 'Hi'
    });

    $("#StartDate").change( function (){
        $("#StartTime").focus();
    });
    $("#StopDate").change(function () {
        $("#StopTime").focus();
    });
</script>
