﻿@model ProAlert.Andon.Service.Models.ScrapType

<tr id="@Model.Id">
    @Html.HiddenFor(model => model.Id)
    <td>@Html.DisplayFor(model => model.Name)</td>
    <td>
        @Html.TextBoxFor(model => model.Qty, new { @class = "qty" })
    </td>
</tr>
