﻿@model ProAlert.Andon.Service.Models.Call

@{
    ViewBag.Title = "Delete Call";
}

<h2>Delete Call</h2>

<h3>@ViewBag.Msg</h3>
<fieldset>
    <legend>Call</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
    
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DT)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DT)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AudioFile.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AudioFile.Name)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        @if (!ViewBag.Msg.Equals("Cannot delete."))
        {
            var pipe = "|";
            <input type="submit" value="Delete" /> @pipe
        }
        @Html.ActionLink("Back to List", "Index")
    </p>
}
