﻿@model ProAlert.Andon.Service.ViewModels.CMCVM

@*@{ Layout = ""; }
@Styles.Render("~/Content/css")*@
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<link href="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<style>
    .b1 {
        background-color: red;
    }

    .b2 {
        background-color: white;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>CallLog</legend>
        <div id="CloseCallLogForm" title="Close Call Log"></div>

        <table id="CallLog">
            <tr>
                <th>Work Center</th>
                <th>Call</th>
                <th>Initiated</th>
                <th>Responded</th>
                <th>Resolved</th>
                <th></th>
            </tr>
            @foreach (var item in Model.CallLogs)
            {
                <tr>
                    <td>@item.WorkCenter.Name</td>
                    <td>@item.Call.Name</td>
                    <td title="@(item.DispInitiateDt((TimeZoneInfo)Session["tzi"]).ToShortDateString())">@(item.DispInitiateDt((TimeZoneInfo)Session["tzi"]))
                    </td>
                    <td title="@(item.ResponseDt.HasValue ? DateTime.Parse(item.DispResponseDt((TimeZoneInfo)Session["tzi"]).ToString()).ToShortDateString() : "")">@(item.ResponseDt.HasValue ? DateTime.Parse(item.DispResponseDt((TimeZoneInfo)Session["tzi"]).ToString()).ToLongTimeString() : "")
                    </td>
                    <td class="resdt" title="@(item.ResolveDt.HasValue ? DateTime.Parse(item.DispResolveDt((TimeZoneInfo)Session["tzi"]).ToString()).ToShortDateString() : "")">@(item.ResolveDt.HasValue ? DateTime.Parse(item.DispResolveDt((TimeZoneInfo)Session["tzi"]).ToString()).ToShortTimeString() : "")
                    </td>
                    <td>
                        @{
                if (item.ResolveDt == null)
                {
                            <input type="button" value="Sign-off" class="actCall" title="WC Down" id="@item.Id"/>
                }
                else
                {
                            <input type="button" value="Sign-off" class="actCall" id="@item.Id"/>
                }
                        }
                    </td>
                </tr>
            }
        </table>
        @Html.HiddenFor(model => model.Employee.Id)
    </fieldset>
    <input type="hidden" id="clid" />
    <div id="ajaxResult">result</div>

}
<script>

    $(document).ready(function () {
        $(document).tooltip();
        $("#CallLog tr").each(function () {
            var b = $(this).find(".resdt").attr("title");
            if (b === "")
                $(this).find(".actCall").css("background-color", "red");
        });
    });


    $.ajaxSetup({ cache: false });

    $("#CallLog").on('click', '.actCall', function () {
        $("#clid").val((this).id);
        $(".ui-dialog:has(#CloseCallLogForm)").remove();
        CloseCall(@Model.Employee.Id);
    });

    function CloseCall(empid) {
        var id = $("#clid").val();
        var url = '@Url.Action("CloseCallLogGet", "WC", new { calllogid = "_id", empid = "_empid" })';
        url = url.replace("_id", id);
        url = url.replace("_empid", empid);
        url = url.replace("amp;", "");
        $("#CloseCallLogForm").dialog({
            autoOpen: true,
            width: 600,
            resizable: false,
            title: 'Close Call Log Form',
            modal: true,
            position: { my: "center bottom", at: "center", of: window },
            open: function () {
                $(this).load(url);
            },
            buttons: {
                "Sign-off": function () {
                    CloseCallLogInfo();
                },
                "Later": function () {
                    LaterCallLog();
                }
            }
        });
    }
    //.next(".ui-widget-overlay").css("background", "#4682b4")
    function CloseCallLogInfo() {
        dlg = $("#CloseCallLogForm");
        $.ajax({
            url: '@Url.Action("CloseCallLog", "CallManagementCenter")',
            type: "POST",
            data: $("#cclTarget").serialize(),
            dataType: 'html',
            success: function (data) {
                if (data) {
                    $(dlg).dialog('close');
                    $("#CallLog").html(data);
                    $("#ajaxResult").hide().html('Record saved').fadeIn(300, function () {
                        var e = this;
                        setTimeout(function () { $(e).fadeOut(400); }, 2500);
                    });
                }
            },
            error: function (xhr) {
                if (xhr.status == 400)
                    dlg.html(xhr.responseText, xhr.status); /* display validation errors in edit dialog */
                else
                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */
            }
        });
    }

    function LaterCallLog() {
        var dlg = $("#CloseCallLogForm");
        $.ajax({
            url: '@Url.Action("LaterCallLog", "CallManagementCenter")',
            type: "POST",
            data: $("#cclTarget").serialize(),
            dataType: 'html',
            success: function (data) {
                if (data) {
                    $(dlg).dialog("close");
                    $("#ajaxResult").hide().html('Record saved').fadeIn(300, function () {
                        var e = this;
                        setTimeout(function () { $(e).fadeOut(400); }, 2500);
                    });
                }
            },
            error: function (xhr) {
                if (xhr.status == 400)
                    dlg.html(xhr.responseText, xhr.status);     /* display validation errors in edit dialog */
                else
                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */

            }
        });
    }

    function displayError(message, status) {
        var $dialog = $(message);
        $dialog
            .dialog({
                modal: true,
                title: status + ' Error',
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
        return false;
    };
</script>

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
