﻿@using System.Web.Mvc.Html
@using Vistech.Andon.Web.helpers
@model ProAlert.Andon.Service.ViewModels.ScrapVM

@{
    ViewBag.Title = "Create Scrap";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>

<style>
    .red-cell {
        background: red;
    }
    .qty {
        width: 40px;
    }
</style>
<script>
    $(document).ready(function () {
        $('.loc').click(function () {
            $(this).toggleClass("red-cell");
            createString();
        });

        function createString() {
            var list = "";
            $('.loc').each(function () {
                if ($(this).hasClass("red-cell")) {
                    list = list + $(this).attr('id') + ',';
                }
            });
            $("#Scrap_DefectLocation").val(list);
            $("#Scrap_Notes").focus();
        }

        $("#Scrap_DefectLocation").click(function () {
            alert("Do not attempt to edit this field by hand.  Use picture to locate defects.");
            createString();
        });

        window.onload = function () {
            var arr = $("#Scrap_DefectLocation").val().split(',');
            $.each(arr, function (index, value) {
                $('.loc').each(function () {
                    if ($(this).attr('id') == value.trim()) {
                        $(this).toggleClass('red-cell');
                    }
                });
            });
        }
        
        function displayError(message, status) {
            var $dialog = $(message);
            $dialog
                .dialog({
                    modal: true,
                    title: status + ' Error',
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            return false;
        };

        $(".qty").change(function () {
            var oVal = $("#Scrap_ScrapCount").val();
            var rem = 0;
            if (!$.isNumeric($(this).val())) {
                $(this).val("");
                return false;
            }
            var total = 0;
            jQuery(".qty").each(function () {
                if ($.isNumeric($(this).val())) {
                    total += parseFloat($(this).val());
                }
            });
            if (oVal - total < 0) {
                alert("too much");
                total = total - parseFloat($(this).val());
                //alert(oVal - total);
                $(this).val(oVal - total);
                rem = 0;
            } else {
                rem = oVal - total;
            }
            var myLabel = document.getElementById("lbRemain");
            myLabel.innerText = "Remaining: " + rem;
        });
    });
</script>
<h2>Create Scrap</h2>

@using (Html.BeginForm("Create", "Scrap", FormMethod.Post, new { id = "csTarget" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Scrap</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.WorkCenterID, "WorkCenter")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Scrap.WorkCenterID, new SelectList(Model.WorkCenters, "Id", "Name"), "<-- Select WC -->")
            @Html.ValidationMessageFor(model => model.Scrap.WorkCenterID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.ProductID, "Product")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Scrap.ProductID, new SelectList(Model.Products, "Id", "Name"), "<-- Select Prod -->")
            @Html.ValidationMessageFor(model => model.Scrap.ProductID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.LastStageID, "Last Stage")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Scrap.LastStageID, new SelectList(Model.LastStages, "Id", "Name"), "<-- Select -->")
            @Html.ValidationMessageFor(model => model.Scrap.LastStageID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.RejectCodeID, "Reject Code")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Scrap.RejectCodeID, new SelectList(Model.RejectCodes, "Id", "Name"), "<-- Select -->")
            @Html.ValidationMessageFor(model => model.Scrap.RejectCodeID)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.ScrapCount)
            <label id="lbRemain" style="padding-left: 50px"></label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Scrap.ScrapCount)
            @Html.ValidationMessageFor(model => model.Scrap.ScrapCount)
        </div>
        <div class="editor-label" style="padding-left: 130px">
            <table id="distScrap">
                @Html.EditorFor(model => model.ScrapTypes)
            </table>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.Notes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Scrap.Notes)
            @Html.ValidationMessageFor(model => model.Scrap.Notes)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.DefectLocation)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Scrap.DefectLocation)
            @Html.ValidationMessageFor(model => model.Scrap.DefectLocation)
        </div>
        <div class="display-label">
            <table id="defectLocator" style="width:320px; height:240px; padding:0; font-size:2px;" background="@Html.ImageString(Model.Scrap.Product.Image)">
                @{
                    var cnt = 0;
                    for (var i = 1; i <= 20; i++)
                    {
                        @:<tr>
                       for (var j = 0; j <= 19; j++)
                       {
                            cnt += 1;
                            @:<td class="loc" id="@cnt"></td>
                       }
                       @:</tr>
                   }
                }
            </table>
        </div>
        <div style="float: left; clear: both">
            <input id="btn" type="submit" value="Create" />
        </div>
        <div id="divPin" title="Collect Pin"></div>
        @Html.HiddenFor(model => model.Scrap.EmployeeID)
    </fieldset>
}
<div id="ajaxResult">result</div>
<div>
    @Html.ActionLink("Back to List", "Filtered")
</div>

<style type="text/css">
    div.btn-Panel {
        display: none;
    }
</style>

<script>
    $("#Scrap_ProductID").on('change', function () {
        loadImage(this.value);
    });

    function loadImage(id) {
        $.ajax({
            url: '@Url.Action("LoadImage", "Scrap")',
            data: { prodid: id },
            success: function (data) {
                if (data) {
                    $("#defectLocator").attr('background', data.img);
                }
            },
            error: function (xhr) {
                if (xhr.status == 400)
                    body.html(xhr.responseText, xhr.status); /* display validation errors in edit dialog */
                else
                    displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */

            }
        });
    }

@*    $("#Scrap_WorkCenterID").on('change', function() {
        // post back to get filtered list of Products by ProductWorkCenterStat table.
        $.ajax({
            url: '@Url.Action("")'
        })
    });*@

    function displayError(message, status) {
        var $dialog = $(message);
        $dialog
            .dialog({
                modal: true,
                title: status + ' Error',
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
        return false;
    };

</script>
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
