﻿@using Vistech.Andon.Web.helpers
@model ProAlert.Andon.Service.Models.Scrap

@{
    ViewBag.Title = "Scrap Details";
}
<style>
    .red-cell {
        background: red;
    }
</style>
<script>
    $(document).ready(function () {
        $('.loc').click(function () {
            $(this).toggleClass("red-cell");
            createString();
        });

        function createString() {
            var list = "";
            $('.loc').each(function () {
                if ($(this).hasClass("red-cell")) {
                    list = list + $(this).attr('id') + ',';
                }
            });
            $("#DefectLocation").val(list);
            $("#Notes").focus();
        }

        $("#DefectLocation").click(function () {
            alert("Do not attempt to edit this field by hand.  Use picture to locate defects.");
            createString();
        });

        window.onload = function () {
            var arr = $("#DefectLocation").val().split(',');
            $.each(arr, function (index, value) {
                $('.loc').each(function () {
                    if ($(this).attr('id') == value.trim()) {
                        $(this).toggleClass('red-cell');
                    }
                });
            });
            $("#DefectLocation").attr("disabled", true);
        }

        function displayError(message, status) {
            var $dialog = $(message);
            $dialog
                .dialog({
                    modal: true,
                    title: status + ' Error',
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            return false;
        };
    });
</script>

<h2>Scrap Details</h2>

<fieldset>
    <legend>Scrap</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Id)
    </div>
    <div class="display-field">
        @{
            var id = Model.Id.ToString();
            if (id.Length > 2)
            {
                id = id.Substring(id.Length - 2);
            }
        }
        @Html.DisplayFor(modelItem => id)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.WorkCenter.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkCenter.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Product.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Product.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.LastStage.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastStage.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.RejectCode.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RejectCode.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ScrapType.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ScrapType.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ScrapDT)
    </div>
    <div class="display-field">
        @{ var d = Model.DispScrapDt((TimeZoneInfo)Session["tzi"]); }
        @Html.DisplayFor(modelItem => d)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ScrapCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ScrapCount)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.DefectLocation)
    </div>
    <div class="editor-field">
        @Html.TextAreaFor(model => model.DefectLocation)
    </div>

        <div class="display-label">
            <table id="defectLocator" style="width:320px; height:240px; padding:0; font-size:2px;" background="@Html.ImageString(Model.Product.Image)">
                @{
               for (int i = 1; i <= 20; i++)
               {
                    @:<tr>
                    for (int j = 0; j <= 19; j++)
                    {
                        @: <td class="loc" id="@i@j"></td>
                    }

                    @:</tr>
                }
                }
            </table>
        </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Filtered", new { WorkCenterID = Model.WorkCenterID })
</p>
