﻿
@using Vistech.Andon.Web.helpers
@model ProAlert.Andon.Service.ViewModels.ScrapVM
@{
    ViewBag.Title = "Edit Scrap";
}

<style>
    .red-cell {
        background: red;
    }
    .qty {
        width: 40px;
    }
</style>
<script>
    $(document).ready(function () {
        $('.loc').click(function () {
            $(this).toggleClass("red-cell");
            createString();
        });

        function createString() {
            var list = "";
            $('.loc').each(function () {
                if ($(this).hasClass("red-cell")) {
                    list = list + $(this).attr('id') + ',';
                }
            });
            $("#Scrap_DefectLocation").val(list);
            $("#Scrap_Notes").focus();
        }

        $("#Scrap_DefectLocation").click(function () {
            alert("Do not attempt to edit this field by hand.  Use picture to locate defects.");
            createString();
        });

        window.onload = function () {
            var arr = $("#Scrap_DefectLocation").val().split(',');
            $.each(arr, function (index, value) {
                $('.loc').each(function () {
                    if ($(this).attr('id') == value.trim()) {
                        $(this).toggleClass('red-cell');
                    }
                });
            });
        }

        $(".finishLater").click(function () {
            finishLater();
        });

        function finishLater() {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("FinishLater")',
                data: $("#updScrap").serialize(),
                success: function (data) {
                    var url = '@Url.Action("Filtered", new { WorkCenterID = Model.Scrap.WorkCenterID })';
                    window.location.href = url;
                },
                error: function (xhr) {
                    if (xhr.status == 400)
                        $(this).html(xhr.responseText, xhr.status);     /* display validation errors in edit dialog */
                    else
                        displayError(xhr.responseText, xhr.status); /* display other errors in separate dialog */
                }
            });
            }

        function displayError(message, status) {
            var $dialog = $(message);
            $dialog
                .dialog({
                    modal: true,
                    title: status + ' Error',
                    buttons: {
                        Ok: function () {
                            $(this).dialog("close");
                        }
                    }
                });
            return false;
        };

        $(".qty").change(function () {
            var oVal = @(Model.Scrap.ScrapCount);
            var rem = 0;
            if (!$.isNumeric($(this).val())) {
                $(this).val("");
                return false;
            }
            var total = 0;
            jQuery('.qty').each(function () {
                if ($.isNumeric($(this).val())) {
                    total += parseFloat($(this).val());
                }
            });
            if (oVal - total < 0) {
                alert("too much");
                total = total - parseFloat($(this).val());
                //alert(oVal - total);
                $(this).val(oVal - total);
                rem = 0;
            } else {
                rem = oVal - total;
            }
            var myLabel = document.getElementById("lbRemain");
            myLabel.innerText = "Remaining: " + rem;
        });
    });
</script>
<h2>Edit Scrap</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "updScrap" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Scrap</legend>

        @Html.HiddenFor(model => model.Scrap.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.WorkCenterID, "WorkCenter")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Scrap.WorkCenter.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.ProductID, "Product")
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Scrap.Product.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.LastStageID, "Last Stage")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Scrap.LastStageID, new SelectList(Model.LastStages, "Id", "Name"), "<-- Select -->")
            @Html.ValidationMessageFor(model => model.Scrap.LastStageID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.RejectCodeID, "Reject Code")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Scrap.RejectCodeID, new SelectList(Model.RejectCodes, "Id", "Name"), "<-- Select -->")
            @Html.ValidationMessageFor(model => model.Scrap.RejectCodeID)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.ScrapCount)
            <label id="lbRemain" style="padding-left: 50px"></label>
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Scrap.ScrapCount)
        </div>

        @if (Model.Scrap.ScrapCount > 1)
        {
            <div class="editor-label" style="padding-left: 130px">
                <table id="distScrap">
                    @Html.EditorFor(model => model.ScrapTypes)
                </table>
            </div>

        }
        else
        {
            <div class="editor-label">
                @Html.LabelFor(model => model.Scrap.ScrapType)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.Scrap.ScrapType.Name)
            </div>
        }
        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.Notes)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Scrap.Notes)
            @Html.ValidationMessageFor(model => model.Scrap.Notes)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Scrap.DefectLocation)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Scrap.DefectLocation)
            @Html.ValidationMessageFor(model => model.Scrap.DefectLocation)
        </div>

        <div class="display-label">
            <table id="defectLocator" style="width:320px; height:240px; padding:0; font-size:2px;" background="@Html.ImageString(Model.Scrap.Product.Image)">
                @{
                    var cnt = 0;
                    for (var i = 1; i <= 20; i++)
                    {
                       @:<tr>
                       for (var j = 0; j <= 19; j++)
                       {
                            cnt += 1;
                            @:<td class="loc" id="@cnt"></td>
                       }
                       @:</tr>
                   }
                }
            </table>
        </div>
        <div style="float: left; clear: both">
            <input type="button" value="Finish Later" class="finishLater" />
            <input type="submit" value="Save" />
        </div>
        @Html.HiddenFor(model => model.Scrap.WorkCenterID)
        @Html.HiddenFor(model => model.Scrap.ProductID)
        @Html.HiddenFor(model => model.Scrap.EmployeeID)
        @Html.HiddenFor(model => model.Scrap.TimesegmentID)
        @Html.HiddenFor(model => model.Scrap.ScrapDT)
        @Html.HiddenFor(model => model.Scrap.ScrapCount)
        @Html.HiddenFor(model => model.Scrap.ScrapParentID)
        @Html.HiddenFor(model => model.Scrap.SignoffDT)
        @Html.HiddenFor(model => model.Scrap.ScrapTypeID)
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Filtered", new { WorkCenterID = Model.Scrap.WorkCenterID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
