﻿@model IEnumerable<ProAlert.Andon.Service.Models.Scrap>

@{
    ViewBag.Title = "Scrap";
}

<h2>Scrap</h2>
@using (Html.BeginForm("Filtered", "Scrap", FormMethod.Get))
{
    <table>
        <tr>
            <td>@Html.DropDownList("UserId", "<-- Select User -->")</td>
            <td>@Html.DropDownList("WorkCenterID", "<--select Work Center-->")</td>
            <td>@Html.DropDownList("ScrapTypeID", "<--select Scrap Type-->")</td>            
            <td>@Html.CheckBox("SignOff") Signed Off</td>
            <td>@Html.CheckBox("Parent") Original Entry</td>
            <td>
                <input type="submit" value="Filter" />
            </td>
        </tr>
    </table>
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Allocated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkCenter.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastStage.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RejectCode.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScrapType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScrapDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScrapCount)
        </th>
        <th>QC Tech
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td title="@item.ScrapParentID">
                @Html.DisplayFor(modelItem => item.Allocated)
            </td>
            <td>
                @{
                    var id = item.Id.ToString();
                    if (id.Length > 2)
                    {
                        id = id.Substring(id.Length - 2);
                    }
                }
                @Html.DisplayFor(modelItem => id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCenter.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastStage.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RejectCode.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScrapType.Name)
            </td>
            <td>
                @{ var d = item.DispScrapDt((TimeZoneInfo) Session["tzi"]); }
                @Html.DisplayFor(modelItem => d)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScrapCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.Id})
            </td>
        </tr>
    }

</table>
