﻿@model IEnumerable<ProAlert.Andon.Service.Models.Scrap>

@{
    ViewBag.Title = "Scrap Index";
}

<h2>Scrap Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Scrap", FormMethod.Get))
{
    @Html.CheckBox("SignOff") @:Signed Off
    <input type="submit" value="Filter" />
}
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkCenter.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastStage.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RejectCode.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScrapType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScrapDT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ScrapCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{
                    var id = item.Id.ToString();
                    if (id.Length > 2)
                    {
                        id = id.Substring(id.Length - 2);
                    }
                }
                @Html.DisplayFor(modelItem => id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkCenter.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastStage.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RejectCode.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScrapType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScrapDT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScrapCount)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
