﻿@model ProAlert.Andon.Service.Models.WorkCenterCall

@{
    ViewBag.Title = "Delete Work Center Call";
}

<h2>Delete Work Center Call</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>WorkCenterCall</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WorkCenter.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkCenter.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Call.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Call.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderID)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
