﻿@model ProAlert.Andon.Service.Models.WorkCenterCall

@{
    ViewBag.Title = "Work Center Call Details";
}

<h2>Work Center Call Details</h2>

<fieldset>
    <legend>WorkCenterCall</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.WorkCenter.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.WorkCenter.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Call.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Call.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OrderID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OrderID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.WorkCenterCallID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
