﻿@model ProAlert.Andon.Service.Models.WorkCenterCall

@{
    ViewBag.Title = "Edit Work Center Calls";
}

<h2>Edit Work Center Call</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>WorkCenterCall</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.WorkCenterID, "WorkCenter")
        </div>
        <div class="editor-field">
            @Html.DropDownList("WorkCenterID", string.Empty)
            @Html.ValidationMessageFor(model => model.WorkCenterID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CallID, "Call")
        </div>
        <div class="editor-field">
            @Html.DropDownList("CallID", string.Empty)
            @Html.ValidationMessageFor(model => model.CallID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.OrderID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OrderID)
            @Html.ValidationMessageFor(model => model.OrderID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
