﻿@model IEnumerable<ProAlert.Andon.Service.Models.WorkCenterCall>

@{
    ViewBag.Title = "Work Center Call Index";
}

<h2>Work Center Call Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkCenter.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Call.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkCenter.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Call.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
