﻿
@model ProAlert.Andon.Service.Models.WorkCenterPrintingOptions

@Html.HiddenFor(model => model.Id)

<div class="form-group">
    @Html.LabelFor(model => model.ScrapLabel, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.ScrapLabel)
            @Html.ValidationMessageFor(model => model.ScrapLabel, "", new { @class = "text-danger" })
        </div>
    </div>
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ShippingLabel, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        <div class="checkbox">
            @Html.EditorFor(model => model.ShippingLabel)
            @Html.ValidationMessageFor(model => model.ShippingLabel, "", new { @class = "text-danger" })
        </div>
    </div>
</div>
