﻿@model ProAlert.Andon.Service.Models.ShiftStartTimes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ShiftStartTimes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MacId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MacId)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
