﻿@using Vistech.Andon.Web.Tools
@model IEnumerable<ProAlert.Andon.Service.Models.ShiftStartTimes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThirdStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @timeconversions.UTCtoClient((TimeZoneInfo)Session["tzi"], item.FirstStart)
        </td>
        <td>
            @timeconversions.UTCtoClient((TimeZoneInfo)Session["tzi"], item.SecondStart)
        </td>
        <td>
            @timeconversions.UTCtoClient((TimeZoneInfo)Session["tzi"], item.ThirdStart)
        </td>
        <td>
            @timeconversions.UTCtoClient((TimeZoneInfo)Session["tzi"], item.CreatedDate)
        </td>
        <td>
            @(item.ModifiedDate.HasValue ? item.DispModifiedDate((TimeZoneInfo)Session["tzi"]).ToString() : "")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
