﻿@using Vistech.Andon.Web.helpers
@model ProAlert.Andon.Service.Models.ProductWorkCenterStat
<tr>
    <td>@Model.Product.Name</td>
    <td>@Html.Image(Model.Product.Image)</td>
    <td>
        <input id="@Model.ProductID" type="button" value="Select" class="ps"/>
        @Html.HiddenFor(model => Model.WorkCenterID) @Html.HiddenFor(model => Model.ProductID) @Html.HiddenFor(model => Model.Product.Name)</td>
</tr>
