﻿@model ProAlert.Andon.Service.Models.WorkCenterGUIOptions
<div class="display-label">
    @Html.DisplayNameFor(model => model.ManualCycles)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.ManualCycles)
</div>
<div class="display-label">
    @Html.DisplayNameFor(model => model.SingleScrap)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.SingleScrap)
</div>


