﻿
@model ProAlert.Andon.Service.Models.WorkCenterPrintingOptions
<div class="display-label">
    @Html.DisplayNameFor(model => model.ScrapLabel)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.ScrapLabel)
</div>
<div class="display-label">
    @Html.DisplayNameFor(model => model.ShippingLabel)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.ShippingLabel)
</div>