﻿@model IEnumerable<ProAlert.Andon.Service.Models.Email>

@{
    ViewBag.Title = "Email Index";
}

<h2>Email Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WorkCenter.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Recipient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecipientEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Delay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Interval)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Down)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Availablilty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Performance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quality)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OEE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scrap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SetupExceeded)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WorkCenter.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Recipient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecipientEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Delay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interval)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Down)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Availablilty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Performance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OEE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Scrap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SetupExceeded)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
