﻿@model ProAlert.Andon.Service.ViewModels.IssueVM

@{
    ViewBag.Title = "Create Issue";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.js"></script>
<h2>Create an Issue</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Issue</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

@*        <div class="editor-label">
            @Html.LabelFor(model => model.Material)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Material)
            @Html.ValidationMessageFor(model => model.Material)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Manufacturing)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Manufacturing)
            @Html.ValidationMessageFor(model => model.Manufacturing)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rework)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rework)
            @Html.ValidationMessageFor(model => model.Rework)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DT)
            @Html.ValidationMessageFor(model => model.DT)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Issue.SubCategoryID, "SubCategory")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Issue.SubCategoryID, new SelectList(Model.SubCategories, "Id", "Name"), "<-- Select Subcategory -->")
            <button id="AddSubCategory">Add Subcategory</button>
            @Html.ValidationMessageFor(model => model.Issue.SubCategoryID)
        </div>*@
        
        @*<div id="AddSubCategoryForm" title="Add Subcategory"></div>*@
        <div style="float: left; clear: both">
            <input type="submit" value="Create" />
        </div>
        
        <input type="hidden" name="Sub" id="Sub" value=""/>
    </fieldset>
}

<div id="ajaxResult">result</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*<style type="text/css">
    div.btn-Panel {
        display: none;
    }
</style>*@

@*<script>

    $('#AddSubCategory').on('click', function () {
        $("#AddSubCategoryForm").dialog("open");
        return false;
    });

    $("#AddSubCategoryForm").dialog({
        autoOpen: false,
        width: 400,
        resizable: false,
        title: 'Add Subcategory Form',
        modal: true,
        open: function () {
            $(this).load('@Url.Action("SubCategoryCreate")');
        },
        buttons: {
            "Add Subcategory": function () {
                addSubCategoryInfo();
            },
            Cancel: function () {
                $(this).dialog("close");
            }
        }
    });

    function addSubCategoryInfo() {
        var dlg = $("#AddSubCategoryForm");
        $.ajax({
            url: '@Url.Action("SubCategoryCreate", "Issue")',
            type: "POST",
            data: $("#subTarget").serialize(),
            success: function (data) {
                if (data) {
                    var subDDL = $("#Issue_SubCategoryID");
                    subDDL.empty();
                    $.each(data.sl, function (i, obj) {
                        subDDL.append($('<option/>').val(obj.Value).text(obj.Text)).change();
                    });
                    subDDL.val(data.idx);
                    dlg.dialog("close");
                    $("#ajaxResult").hide().html('Record saved').fadeIn(300, function () {
                        var e = this;
                        setTimeout(function () { $(e).fadeOut(400); }, 2500);
                    });
                }
            }
        });

    }
</script>*@
@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
