﻿@model ProAlert.Andon.Service.ViewModels.IssueVM

@{
    ViewBag.Title = "Edit Issue";
}

<h2>Edit Issue</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Issue</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Name)
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.DisplayFor(model => model.Name)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

@*        <div class="editor-label">
            @Html.LabelFor(model => model.Material)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Material)
            @Html.ValidationMessageFor(model => model.Material)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Manufacturing)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Manufacturing)
            @Html.ValidationMessageFor(model => model.Manufacturing)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rework)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rework)
            @Html.ValidationMessageFor(model => model.Rework)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DT)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DT)
            @Html.ValidationMessageFor(model => model.DT)
        </div>*@

        @*<div class="editor-label">
            @Html.LabelFor(model => model.Issue.SubCategoryID, "Sub Category")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Issue.SubCategoryID, new SelectList(Model.SubCategories, "Id", "Name"), "<-- Select Subcategory -->")
            @Html.ValidationMessageFor(model => model.Issue.SubCategoryID)
        </div>*@

        <div style="float: left; clear: both">
            <input type="submit" value="Save" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
